[2021-06-23 21:48] jasonLaster opened #425 "Cannot replay basic xhr events"
STR:
1. go to https://load-events.jlast.repl.co/
2. click start xhr (success)

replit example https://replit.com/@jlast/load-events#script.js

[2021-06-24 16:37] jasonLaster opened #426 "Hide the Mozilla VPN page"
<img width="1637" alt="Screen Shot 2021-06-23 at 1 27 46 PM" src="https://user-images.githubusercontent.com/254562/123300843-d44bfa80-d4cf-11eb-890f-d256d97426ac.png">

[2021-06-25 17:11] ryanjduffy commented on #415
I've landed #428 to start tracking record button interactions to telemetry and RecordReplay/backend#2476 to handle those explicitly. I'm closing this as "done" under the assumption this will give us either enough data to identify the root cause or the telemetry gaps we need to fill.

[2021-06-25 17:11] #415 closed, assigned to jazzdan, ryanjduffy

[2021-06-26 06:26] jonbell-lot23 opened #429 ""Launch Replay" button lands you on "replay:library," which is a blank page"
<img width="1552" alt="image" src="https://user-images.githubusercontent.com/9154902/123504200-eaaead80-d6ab-11eb-9eb3-d188d867d62c.png">

Replay launched, which is great. But I'm getting sent to a blank page, as shown here.

[2021-06-26 06:28] jonbell-lot23 commented on #429
Same for logged in states:
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/9154902/123504279-46793680-d6ac-11eb-8ada-1781475739dc.png">

[2021-06-29 18:17] ryanjduffy commented on #429
This appears fixed in the browser as of this morning.

[2021-06-29 18:17] #429 closed, assigned to nobody

[2021-06-29 18:50] jasonLaster opened #432 "Cannot record chat.mozilla.org"
It looks like this replay is trying to use webassembly

https://replay.io/view?id=1b807efd-a9d5-4d20-a87c-dd257c79bcbf

[2021-06-29 19:05] bhackett1024 commented on #432
We support wasm, but not wasm streaming on firefox --- wasm streaming uses spidermonkey's thread pool which we allow to behave differently when recording vs. replaying.  The best fix here is to stop treating this thread pool in special ways and just record its behavior all the time, though we'll need to run these tasks either on the main thread or add another thread pool for non-deterministic task

[2021-07-01 15:40] bhackett1024 opened #435 "Upload source maps when saving recordings to disk"
Currently, source maps will be uploaded when using playwright and configuring it to upload all recordings using the RECORD_REPLAY_SERVER environment variable.  When recordings are being saved to disk and uploaded later they won't contain any source maps, however.  It would be nice to save source map information to ~/.replay in the latter case and upload them along with the recording itself in the

[2021-07-02 10:58] hbenl opened #436 "Change the homepage from replay.io/view to app.replay.io"
see RecordReplay/devtools#3006

[2021-07-02 15:57] ryanjduffy commented on #191
This has been covered by #405

[2021-07-02 15:57] #191 closed, assigned to nobody

[2021-07-06 18:39] jasonLaster opened #437 "Cannot sign-in"
Replay can no longer sign in after the switch to `app.replay.io`

[2021-07-06 18:40] jasonLaster commented on #437
it looks like that error is coming from the WebChannel which the browser uses for authentication. it does look like that is trying to load replay.io/view, see the devtools.recordreplay.recordingsUrl pref

[2021-07-06 20:07] ryanjduffy commented on #437
Fixed by #438

[2021-07-06 20:07] #437 closed, assigned to ryanjduffy

[2021-07-08 04:29] jonbell-lot23 opened #439 "iPad Air site not looking right -- canvas issues?"
1. Go to https://www.apple.com/ipad-air/ and record with Replay
2. Notice the strange visual flubs:
<img width="360" alt="image" src="https://user-images.githubusercontent.com/9154902/124862499-98558100-e009-11eb-82d3-0bf1408c3494.png">

3. Check how it looks in the replay: https://app.replay.io/?id=2e6e30f0-f0eb-48e1-9bae-a1072dc4c124&point=76261860111285211039325359462942164&time=27104&hasFrames

[2021-07-08 22:16] loganfsmyth opened #440 "Record user event info as part of the recording"
We've been talking about wanting to know what keys were pressed during a recording. Right now we track mousemove/mousedown events and that is it. It would be great to expand that.

Here's a patch from playing around a bit earlier: https://gist.github.com/loganfsmyth/4e598378e16789681ee9620e39233a07

[2021-07-09 00:08] jasonLaster commented on #440
It would be great to also track navigation events in the same way.

[2021-07-09 17:33] ryanjduffy commented on #413
Doesn't appear that any of the tabbrowser instance, the frameloader, or the remoteTab is a persistent reference when dragging the tab into a new window so still looking for a candidate to key the state management.

cc: @loganfsmyth

[2021-07-09 18:51] loganfsmyth commented on #413
Hmm, are you sure? I just applied this patch locally:
[code]
and running with that patch I made one recording normally, and another where I started the recording, dragged the tab into a new window, and then stopped the recording, and the output was
[code]

[2021-07-10 23:03] ryanjduffy commented on #413
I think there is _some_ consistency but not end to end. I'll confirm on Monday but I think I saw it break down in `reloadAndRecordTab` due to `tabbrowser.updateBrowserRemoteness` which (i think) creates a new frameLoader and remote tab. That's manageable but wanted to see if there was a consistent reference independent of those.

[2021-07-12 16:23] ryanjduffy opened #441 "Figure out building on Apple Silicon"

[2021-07-15 16:26] hbenl commented on #393
All those issues seem to go away when setting `devtools.recordreplay.recordingsUrl` to `https://app.replay.io` in `about:config`, I had it set to `http://localhost:8080`.
Note that the default for that setting is still `https://replay.io/view` in the current Linux build (20210629192024).

[2021-07-16 10:44] hbenl commented on #393
Fixed in build 20210715201544.

[2021-07-16 10:44] #393 closed, assigned to nobody

[2021-07-16 23:22] ryanjduffy commented on #441
This is at least mostly done for now via #443. I expect more work to be done in the future but the specifics are unknown.

The notable takeaway is that you may need to run `RUSTC_BOOTSTRAP=qcms node build` to configure the build process correctly. This requirement may go away if we're able to backport the upstream change that seems to handle it.

https://hg.mozilla.org/mozilla-central/rev/b182a346

[2021-07-16 23:22] #441 closed, assigned to ryanjduffy

[2021-07-16 23:24] ryanjduffy commented on #413
Sadly, I have to bump this to next week because this week was consumed with getting the build working again on the M1. But, now that it _is_ working, this should be doable!

[2021-07-19 18:11] jasonLaster opened #444 "Application icon is garbled"
When Replay is installed, the logo should look like this,
<img width="753" alt="Screen Shot 2021-07-19 at 11 10 38 AM" src="https://user-images.githubusercontent.com/254562/126206940-fe634a46-4b96-440d-98ac-caf8fd67b23c.png">

but it is often looking garbled like this

![icon](https://user-images.githubusercontent.com/254562/126206710-0fc41957-63b0-40ab-87e6-ea958391b759.png)

[2021-07-20 20:58] ryanjduffy commented on #413
This is improved by #445 but additional work is required to implement the new visuals described above. Hoping to still tackle that this week.

[2021-07-23 22:55] ryanjduffy opened #446 "Consolidate recordings state obj with Recording object"
Few comments from the last PR that should be addressed

https://github.com/RecordReplay/gecko-dev/pull/445#pullrequestreview-713263280

[2021-07-23 23:55] ryanjduffy commented on #413
Noting the #445 landed a bit ago. I've opened #446 for some technical follow up from it. Will keep this open for a bit longer to track the visual improvements above.

[2021-07-29 15:44] jasonLaster opened #448 "Update "Reconnecting to cloud..." tooltip"
from @loganfsmyth

from @jonbell-lot23

“Connecting…”

I believe the proposal is to update the tooltip to first ready `Connecting...` and then after a couple of seconds `Could not connect`.

[2021-07-29 15:46] jasonLaster commented on #448
If it's easy to do a custom tooltip, it might also be nice to have a link to docs. That way we can mention VPNs, our support@replay.io and discord channel.

This is also something that we should make sure we have telemetry for

[2021-07-29 16:43] loganfsmyth opened #449 "'about:profiles' lists Firefox profiles, not Replay profiles"

[2021-08-04 20:44] ryanjduffy commented on #436
Fixed by #438

[2021-08-04 20:44] #436 closed, assigned to nobody

[2021-08-06 21:57] joebobmiles opened #456 "Services.prefs fails when fetching replay.* preferences"
After getting Replay up and running on Windows, I've been working on tracking down the errors that occur when attempting to start a recording. The only error that triggers when the button is clicked is a failure in `pingTelemetry` in `devtools/server/actors/telemetry.js`. Specifically, it's on line 6, where `pingTelemetry` attempts to get the telemetry URL by calling `Services.prefs.getStringPref(

[2021-08-06 22:20] loganfsmyth commented on #456
This is likely because you have not set up a `mozconfig` file. We have samples for linux and osx but it doesn't look like the branch has one for windows. If you create one manually that has the stuff common between OSX and linux, it'll definitely help.

https://github.com/RecordReplay/gecko-dev/blob/windows-port/mozconfig.macsample

[2021-08-09 14:57] joebobmiles commented on #456
Exactly what I needed, thanks Logan!

EDIT:
Config that worked for me:
[code]

[2021-08-09 14:57] #456 closed, assigned to nobody

[2021-08-11 15:19] hbenl commented on #349
As suggested above, I added
[code]

[here](https://github.com/RecordReplay/gecko-dev/blob/5c85e5c35ce23cf0debaac26542ce82d43916d35/devtools/server/actors/replay/react-devtools/contentScript.js#L22).
Then I created a small React app with the following main component:
[code]
and made a recording of it where I add and then remove one item.
Here are the console messages I got in that recording, each m

[2021-08-11 15:19] #349 closed, assigned to hbenl

[2021-08-11 17:01] jasonLaster opened #547 "Recording cypress tests"
**Description:**

We looked into recording Cypress tests this morning and found that it was fairly straight forward.

Here is the spec that we recorded [todo.spec.js](https://app.replay.io/?id=687fd094-0977-483d-9702-61352cd447fc&point=17848520452351732080748016313565263&time=7786.612616614838&hasFrames=true).

Recording cypress tests requires two things:
1. a Replay browser which we can point Cyp

[2021-08-11 20:49] jonbell-lot23 opened #462 "Logging in to Replay browser should take me back to the page I was on"
1. I was on foo.com
2. I went to record but I needed to log in first

Expected:
1. After login, I should be at foo.com

Actual:
1. After login, I ended up at Replay's library

[2021-08-11 21:35] kannanvijayan opened #458 "Meta: Preload Recording Process"
Created as gecko-dev surrogate for https://github.com/RecordReplay/backend/issues/1088.

Copied description:

Similar to controller preloading, when someone wants to start recording a tab and clicks the "record" button, the recording process starts up from scratch and has to connect to the UI process and initialize before any content can start loading.

Gecko has a way to preload content processes

[2021-08-11 21:36] kannanvijayan opened #459 "Send `Internal.createRecording` only after browser reaches first checkpoint."
Child of #458

The first part of implementing preloading of recording browser is to make it so that preloaded browser child processes don't automatically create a recording in the backend, but instead wait until after the first checkpoint is hit.

[2021-08-11 21:38] kannanvijayan opened #460 "Implement `getDispatchServer` in C++"
Child issue of #458

Implement a C++-accessible version of `getDispatchServer` implemented here in JS: https://github.com/RecordReplay/gecko-dev/blob/732c9d372778092753aa999e9a754a7f69838833/devtools/server/actors/replay/connection.js#L67

[2021-08-11 21:40] kannanvijayan opened #461 "Modify `PreallocatedProcessManager` to preallocate recording browser children"
Child issue of #458

[2021-08-11 21:54] kannanvijayan commented on #458
Reference links and notes in notion: https://www.notion.so/replayio/Browser-Precaching-1992a5e72f184e98b530f3664ffea00b

[2021-08-16 16:37] #392 closed, assigned to loganfsmyth

[2021-08-16 18:33] jasonLaster opened #463 "Issue establishing a connection with the replay server"
Jon at Zyspy is seeing an issue when starting a new recording with Replay

[2021-08-16 19:31] jasonLaster commented on #463
Here's the error screen with `No Such Channel`

![image](https://user-images.githubusercontent.com/254562/129619212-ef9b4845-894b-43d3-b50a-5bf78b4ec316.png)

[2021-08-16 19:41] jasonLaster commented on #463
Looks like the issue might be with `High Sierra (10.13.6)`

[2021-08-16 19:47] jasonLaster commented on #336
We should show an error message when someone tries to use Replay with High Sierra. The simplest thing to do logistically speaking is to route them to an expected error ui with the message "High Sierra is not supported."

[2021-08-16 19:52] jasonLaster commented on #463
we should attempt to log most if not all of replays exceptions to telemetry so we can see when our users are affected.

Our `No Such Channel` error comes from within `gecko-dev` https://github.com/RecordReplay/gecko-dev/blob/webreplay-release/toolkit/actors/WebChannelParent.jsm#L49-L57.

We might be able to catch this error on the devtools side here though and log an error to telemetry https://git

[2021-08-16 19:56] bhackett1024 commented on #336
From discord, the error being reported is due to the error below.  It looks like the recording driver has lazily resolved references to a symbol (____chkstk_darwin) that doesn't exist on 10.13.  This symbol is inserted by the compiler when pushing native frames above a certain size (4kb or something like that).  There should be a way to build the driver in a more backwards-compatible way, but (a)

[2021-08-16 20:35] ryanjduffy commented on #463
I have a branch up to add telemetry for these failures. I think this might be a regression from #451 which changed the name of the channel in gecko-dev but didn't update the frontend.

https://github.com/RecordReplay/gecko-dev/commit/281613e5e05ac13bfa49d0d38de457c50b4642c7#diff-de308cf37bb1e668846a73397a262eb5888c9c490a74b236e97f772d236146ecR748

@loganfsmyth - wdyt?

[2021-08-16 20:37] ryanjduffy commented on #463
Well, it's just one place that wasn't updated. The token channel msg was updated but `setUserInBrowserPrefs` still passes the user via `record-replay` which isn't handled by gecko.

[2021-08-16 21:11] loganfsmyth commented on #463
`setUserInBrowserPrefs` was left in for backward-compat for users still using old build of the browser. At some point we can remove it, but I don't see any reason to rush. "No Such Channel" is just the browser letting you know it got a a message for a channel that doesn't exist, but it's expected that the channel doesn't exist.

[2021-08-16 21:39] ryanjduffy commented on #463
Thanks @loganfsmyth. Do we capture usage stats on the browser versions we have out so we can decide when to remove these sorts of compatibility debt?

[2021-08-16 23:18] loganfsmyth commented on #463
We don't as far as I'm aware, we're just been making the decision to drop support for old builds some time after the previous ones were released.

[2021-08-16 23:19] loganfsmyth commented on #463
But also we haven't had to make breaking changes to the browser APIs very often, usually we end up just making additive changes.

[2021-08-18 16:10] #459 closed, assigned to kannanvijayan

[2021-08-18 16:12] kannanvijayan opened #466 "Investigate performance of page load when starting recording."
Get an idea of _what_ are the causes of page-load being slow when starting a new recording, and _how much_ it affects performance.

[2021-08-19 15:43] #460 closed, assigned to kannanvijayan

[2021-08-19 21:57] loganfsmyth commented on #440
This is done and the browser build for Mac for keyboard and navigation tracking has been released.

[2021-08-19 21:57] #440 closed, assigned to loganfsmyth

[2021-08-22 20:48] jasonLaster opened #468 "Unexpected Socket error shown for old tabs"
It looks like tabs that i leave for awhile have this error screen in Replay, but show the Are You There in chrome

<img width="1552" alt="Screen Shot 2021-08-22 at 4 46 06 PM" src="https://user-images.githubusercontent.com/254562/130369622-33e31153-bd8f-4899-b9a4-fde4e68fe053.png">

[2021-08-24 16:10] jasonLaster commented on #466
Runnables:

`maybeInitializeFrameLoader --> createBrowser --> getNewOrUsedBrowserProcess` 💣

[2021-08-24 16:56] kannanvijayan commented on #466
More detailed notes here: https://www.notion.so/replayio/Perf-Measurement-ec7f0776c0004b58abcb9065ab881886

[2021-08-25 03:33] jaril opened #473 "Add the element being clicked as metadata for the event sidepanel mouse click events"
Follow up from RecordReplay/devtools#3307.

Add the element being clicked as metadata to a click event, e.g. `Mouse Click button.my-button`

[2021-08-25 22:49] ryanjduffy opened #471 "Hovering the record button spinner shows "Start Recording" tooltip"

[2021-08-26 14:19] jasonLaster commented on #267
This came up when talking to the glide folks. Also noticed it today because I wanted golinks :)

[2021-08-26 14:33] #402 closed, assigned to nobody

[2021-08-26 14:37] jasonLaster commented on #473
I'm pretty sure that @loganfsmyth said that this was not possible the way we are gathering the event clicks

[2021-08-26 15:40] bhackett1024 commented on #473
"not possible" is pretty strong, but we do need gecko-dev changes to figure out which element each click is targeting (and similarly, info about the active element text is being entered into), and convey that to the driver and then the protocol.

[2021-08-26 16:20] kannanvijayan commented on #466
Closing this - as the investigation identified where the new-browser-process creation time affects the responsiveness of creating a new recording tab.

[2021-08-26 16:20] #461 closed, assigned to kannanvijayan

[2021-08-26 16:22] #466 closed, assigned to kannanvijayan

[2021-08-27 14:04] jasonLaster opened #474 "Crash not shown in about:crashes"
I just had a crash that did not show up in `about:crashes`.

1. should it?
2. did we receive it in our backend?

<img width="1283" alt="Screen Shot 2021-08-27 at 10 01 48 AM" src="https://user-images.githubusercontent.com/254562/131139783-cd7b4f4e-c85a-47e2-8868-6807aa598620.png">
<img width="1283" alt="Screen Shot 2021-08-27 at 10 01 31 AM" src="https://user-images.githubusercontent.com/254562/13

[2021-08-27 16:47] bhackett1024 commented on #474
Per https://github.com/RecordReplay/triage-dashboard/blob/master/index.md we have several crash reports from the recorder in the last day, and one from gecko-dev.  Since it's not showing up in about:crashes though this isn't a gecko-dev report.

[2021-08-27 18:02] bhackett1024 commented on #474
On closer look, the recorder crash reports are all associated with windows, and the gecko-dev report is from earlier than the point where you had the crash.

https://github.com/RecordReplay/ops/issues/134 is the best way to see how often this is affecting people (send a telemetry report when showing the tab crashed screen) and start understanding why we're not getting actual crash reports here.

[2021-08-27 20:09] kannanvijayan opened #476 "Pref for precaching recorded browser processes"
Use a pref to enable/disable the precaching code for recorded browser child processes.

[2021-08-29 01:35] jonbell-lot23 opened #479 "cofounder.quest doesn't load in Replay browser while recording"
Here's a Replay of it failing:
https://app.replay.io/recording/a5a67c45-3e6a-4d60-91d6-7c6e36aad7e8?point=22391780206272290307249529256150406&time=9089.655715929746&hasFrames=true

We won't be able to capture everything, but we need to message to a user when it's gonna fail.

[2021-08-30 02:37] jonbell-lot23 opened #480 ""Replay Tour" takes you to a Firefox tour"
<img width="286" alt="image" src="https://user-images.githubusercontent.com/9154902/131277422-479ab206-2a5b-4ad1-bd5d-fda29fa73960.png">

[2021-08-30 15:44] #476 closed, assigned to nobody

[2021-08-30 15:48] kannanvijayan opened #481 "Fix crashiness of preallocated recording content processes"
Preallocation of recorded browsers is behind a pref because it causes the browser to get crashy.

[2021-08-30 15:49] kannanvijayan opened #482 "Unexpected recording error (connection has not been authenticated)"
Jason and I noticed this on the morning of Aug 30.

![image](https://user-images.githubusercontent.com/76070462/131367198-6fbab80f-97a0-4927-9031-d97c80d7302c.png)

[2021-08-30 19:57] #481 closed, assigned to kannanvijayan

[2021-08-30 21:58] #336 closed, assigned to bhackett1024

[2021-08-31 16:26] #403 closed, assigned to nobody

[2021-08-31 18:27] kannanvijayan opened #486 "Modify pingTelemetry to send user info to backend"

[2021-08-31 18:50] kannanvijayan opened #487 "Create dispatcher connection after unblocking"
Currently a recording browser waits until the first checkpoint to start communicating with the dispatch server.  However it connects to the dispatch server immediately.  This can lead to issues if a preallocated browser process goes unused for a long time, and times out its connection with the backend.

Modify the dispatcher client in the browser to only connect after the first checkpoint is reach

[2021-08-31 18:58] kannanvijayan opened #488 "Restart precached browser processes periodically"
This is to resolve issues with API keys being issued to precached browser processes, and becoming stale while the parent process renews its keys.

[2021-08-31 19:19] kannanvijayan commented on #487
https://github.com/RecordReplay/backend/pull/2888

[2021-08-31 21:27] loganfsmyth commented on #488
Probably most importantly, we'll need some way to explicitly invalidated the cached process if the auth token expires.

[2021-09-01 02:23] kannanvijayan commented on #488
Where in the browser do we fetch and install a new auth token?  I assume it happens in the parent process.  I don't think it would be too difficult (cross fingers) to call into the preallocated process manager from there and trigger a full invalidation and restart.

[2021-09-01 05:37] loganfsmyth commented on #488
Around here: https://github.com/RecordReplay/gecko-dev/blob/338665d92b8a2264d4764d90746727132fbcd430/devtools/server/actors/replay/connection.js#L317

[2021-09-01 14:22] kannanvijayan opened #490 "Restart precached browsers when replay authentication is refreshed"
After landing #488 update the logic to restart precached browsers whenever replay authentication credentials change.

[2021-09-01 14:24] kannanvijayan opened #491 "Enable devtools.recordreplay.usePreallocated flag"
Final step to turn on preallocated child browsers.

[2021-09-01 17:03] #487 closed, assigned to kannanvijayan

[2021-09-01 17:04] #488 closed, assigned to kannanvijayan

[2021-09-01 22:26] loganfsmyth commented on #482
I'm going to close this for now. If we still see this after Kannan's process-cache patches have been released, let's reopen.

[2021-09-01 22:26] #482 closed, assigned to loganfsmyth

[2021-09-02 01:47] #490 closed, assigned to kannanvijayan

[2021-09-02 13:15] jasonLaster opened #494 "Select dropdown is not shown"
This is what it should look like
![](http://g.recordit.co/YCKFvASRxc.gif)

Here is a replay where the dropdown should be shown
https://app.replay.io/recording/b2b4dd71-0c94-4cfc-9c40-5f8aa6b88190?point=26610521430522996687218165111855639&time=14169&hasFrames=false

Here is the codesandbox where you can try clicking on the dependency dropdown
http://recordit.co/YCKFvASRxc

[2021-09-02 14:45] #486 closed, assigned to kannanvijayan

[2021-09-02 21:42] jasonLaster opened #496 "Onboarding: Add newtab schema support"
It should be possible for users to click "Start Time Traveling" and land on the `replay.io/demo` already recording.

[code]

[2021-09-05 16:05] bhackett1024 commented on #354
This is in the GTM doc but managed to slip off the planning board.  It would be good to get something working this week so that we can message users when the page they are viewing is using disabled features like video, streaming wasm, etc.

[2021-09-07 14:01] bhackett1024 commented on #179
I don't think this is super important to deal with now, since the UI process connects to the same dispatcher and will not allow creating new recordings when that connection attempt fails.

[2021-09-07 14:03] bhackett1024 commented on #314
Instead of replacing the tab with an error page talking about webgl, we can just show a dismissable text warning like what happens when there is a lot of JS running on the page and slowing it down.  This will handle both the case where e.g. webGL doesn't work and the page crashes and goes white, and where webGL doesn't work but the page recovers and works fine (e.g. facebook.com).  This could be r

[2021-09-07 14:03] bhackett1024 commented on #305
dupe of https://github.com/RecordReplay/gecko-dev/issues/314

[2021-09-07 14:03] #305 closed, assigned to nobody

[2021-09-07 14:37] bhackett1024 opened #499 "Support SharedArrayBuffer"
Creating SharedArrayBuffer objects is not supported when recording/replaying.

[2021-09-07 14:40] bhackett1024 opened #500 "Support plugins"
Using plugins is not supported in recording/replaying processes.

[2021-09-07 14:47] bhackett1024 opened #501 "Support wasm streaming"
Wasm streaming isn't currently supported when recording/replaying.  This isn't a difficult limitation to remove (we already support wasm streaming on chromium), but the JS helper threads mechanism which streaming is based on is not allowed to interact with the recording.  We need to stop using the JS helper threads for non-deterministic tasks like off thread jit compilation, so that these threads

[2021-09-07 14:54] bhackett1024 commented on #57
wasm works when recording/replaying now, but wasm streaming is still disabled, see https://github.com/RecordReplay/gecko-dev/issues/501

[2021-09-07 15:40] bhackett1024 commented on #325
We now return null when trying to create a WebGL context instead of throwing, fitting with the spec for getContext() and unbreaking some of the formerly broken pages.  There isn't much we can do though to stub out WebGL though without things breaking in new and fascinating ways.  We can message that the page uses WebGL and things might not work right (https://github.com/RecordReplay/gecko-dev/issu

[2021-09-07 16:21] jasonLaster opened #503 "Release telemetry"
- Telemetry for crash reports
- include user info in telemetry
- Audit dashboards to get key insights

[2021-09-07 19:11] bhackett1024 commented on #314
With the upcoming fix, this is what is shown when trying to view a webpage that uses unsupported features.

<img width="1281" alt="Screen Shot 2021-09-07 at 11 11 04 AM" src="https://user-images.githubusercontent.com/1062578/132398257-567c4230-a69a-462d-8b01-91db99748504.png">

[2021-09-07 19:12] #314 closed, assigned to bhackett1024

[2021-09-07 19:13] #354 closed, assigned to bhackett1024

[2021-09-07 20:05] jasonLaster opened #504 "React DevTools Shell does not work while recording"
The react devtools shell loads the sample app normally, but when recording the sample app script fails to loads.

The reason for this is that the injected script has a caching issue where it needs a hard-refresh which clears the cache and when we click the record button it uses the cache.

Here's a loom with the problem
https://www.loom.com/share/bc64c48abb634402b046893f7d55471d

Here's the contri

[2021-09-07 21:08] #458 closed, assigned to kannanvijayan

[2021-09-07 21:08] #491 closed, assigned to kannanvijayan

[2021-09-07 21:59] ryanjduffy opened #505 "Replace timeout in replay:record schema handler"
https://github.com/RecordReplay/gecko-dev/pull/498#discussion_r703729620

[2021-09-07 22:00] #496 closed, assigned to ryanjduffy

[2021-09-09 01:48] jasonLaster opened #506 "Update recording spinner"
The spinner goes in the wrong direction. The spinner is also ugly :)

Lets use the spinner that we use in devtools or something similar. See `Spinner.tsx`

[2021-09-09 01:49] jasonLaster opened #507 "Update Recording button look"
We should do a quick visual refresh of the recording button for both the light and dark version of the replay browser

This blue/red is not ugly, but it can certainly be improved

<img width="261" alt="Screen Shot 2021-09-08 at 6 45 16 PM" src="https://user-images.githubusercontent.com/254562/132608773-5d5e70b6-702d-46be-91d7-f475c3b1d4f3.png">

<img width="314" alt="Screen Shot 2021-09-08 at 6 49

[2021-09-09 18:55] schani opened #508 "Replays with canvas drawing are very large"
This took a long time to upload, despite being less than a minute long, with very little user interaction:

  https://app.replay.io/recording/c957bbe7-4652-4ac8-9844-51656a15dfb1

Feel free to make your own at

  https://staging.heyglide.com

You'll need to do "New App" and then pick a Google Sheet.

[2021-09-09 19:23] schani commented on #508
This one also takes a long time to upload, and there shouldn't be much going on, in particular no canvas drawing: https://app.replay.io/recording/da9b10d1-8e4d-461f-ad79-e07eaa8ec7f5

[2021-09-09 19:29] kannanvijayan commented on #508
Thanks @schani.  To add info to the bug:

The recording (c957bbe7-4652-4ac8-9844-51656a15dfb1) is 177Mb large.  It'd be worthwhile to go through and figure out where the volume is coming from and what we can do about that.

@schani I'm guessing when you click the google sheet it uses the sheet as a source but uses the glide data viewer to display it?

Edit:
da9b10d1-8e4d-461f-ad79-e07eaa8ec7f5 is

[2021-09-09 20:20] kannanvijayan opened #509 "Build an easy-to-use way of dumping recordings"
Spurred by comments about wanting to look at and analyze contents of problematically dense replays (high size for unit duration).

My thoughts:

The mechanic for dumping recordings is kind of involved right now.  I'm thinking it might be easier to build this in as functionality into the main controller code.  If the controller receives an initial "DumpRecording" message (or flag on existing messag

[2021-09-09 22:09] jasonLaster opened #510 "The connection has not been authenticated"
- I saw it after Replay had been open (and unused for an hour or two)
- I logged out and logged in and still saw the problem
- I quit and re-opened Replay and the problem was fixed

<img width="764" alt="Screen Shot 2021-09-06 at 9 24 03 PM" src="https://user-images.githubusercontent.com/254562/132769084-17f3582b-34e9-4bdc-9436-7b38ca1cd7e2.png">

[2021-09-09 22:32] jasonLaster opened #511 "Nextjs does not include the basepath in the sourceMappingUrl"
This PR successfully gets NextJS to create sourcemaps which are adjacent to the JS, but fails to create a sourceMappingUrl that can be found by chrome or replay devtools.

https://github.com/statelyai/xstate-viz/pull/261

It would be nice to figure out what went wrong and update our documentation
https://www.notion.so/replayio/Source-Maps-aa12f23cb77b4c40ad37ab5836ad17be

[2021-09-09 22:33] jasonLaster commented on #511
By the way, this is where `productionBrowserSourceMaps` is set in NextJS's webpack config
https://github.com/vercel/next.js/blob/cab846481db9645c686f25b1a505fd9e0cba1dd2/packages/next/build/webpack-config.ts

[2021-09-09 22:38] Andarist commented on #511
OTOH - shouldn't this just work by default in Chrome? This is exactly what Next recommends in their docs: https://nextjs.org/docs/advanced-features/source-maps . So if this is not enough for Chrome then, if I understand correctly, Next docs should mention additional steps to make this work.

[2021-09-10 01:26] jasonLaster commented on #511
Agreed, this issue should probably be in the NextJS repo. I filed this sibling bug report
https://github.com/vercel/next.js/issues/28976

[2021-09-11 19:58] jasonLaster opened #512 "Replay Browser crahsed"
Bug Report from Santiago at Glide

Hey Guys! Yesterday, Replay kept saying that an error had occurred. So I closed it and restarted several times. After the 5th time, give or take, it started to work but I started to notice that my laptop was overheating really badly. It was until I tried to close Replay one more time that the whole thing crashed and cause the laptop to restart. I haven't open it

[2021-09-12 17:55] #511 closed, assigned to nobody

[2021-09-12 18:01] jasonLaster commented on #510
This might be obvious to others, but I think the problem is that at some point the JWT expires and because app.replay.io is not open to check, the browser does not realize it expired until the user tries to hit save.

The browser should be able to ping the backend regularly to see if it is still authenticated and if at some point it is not, switch the button to sign in.

Even better would be to si

[2021-09-14 15:05] jasonLaster opened #513 "Make the Update button more prominent"
The update button is a small arrow in the top right

[2021-09-14 15:35] loganfsmyth commented on #510
The browser itself has logic that is supposed to change to the unauthenticated state once the JWT expires. Maybe something is wrong with that logic.

[2021-09-14 15:36] loganfsmyth commented on #510
https://github.com/RecordReplay/gecko-dev/blob/251fdaf2afd8697875f31c4253fb3c98aa122f3e/devtools/server/actors/replay/connection.js#L318

[2021-09-15 01:30] loganfsmyth commented on #510
Alright, the logging patches are deployed so when this happens again we can at least have a better sense of why.

[2021-09-15 17:29] ryanjduffy opened #514 "Browser reports a security warning with app.replay.io"
![LtFqXvjc](https://user-images.githubusercontent.com/788456/133481171-308d880f-8865-4b10-88d7-3890e3cac1e0.jpg)

[2021-09-15 17:31] tux3 opened #515 "Support "replay:record" protocol URLs on Debian"
Hello, I unzipped linux-replay.tar.bz2 and started `./replay` for the first time (Debian bookworm on Linux 5.13).
I'm a Firefox user, so I clicked the "import my settings" button, logged in, and went on to the demo.

When starting the 'back to the future' demo, replay opened a tab to `replay:record?url=https://static.replay.io/demo`, however I get the following error:

![snap-767](https://user-ima

[2021-09-15 17:33] ryanjduffy opened #516 "Get Involved link in the about dialog is broken"

[2021-09-15 20:20] ryanjduffy commented on #516
#517 fixes this link along with the privacy policy link and adds an email support link to help funnel users to other ways to get in touch.

[2021-09-15 23:17] #516 closed, assigned to nobody

[2021-09-16 14:52] jasonLaster commented on #515
Thanks for sharing @tux3! `replay:` is our url scheme which definitely works on the mac, but we likely missed something for Debian. This write up is a huge help

[2021-09-16 15:46] ryanjduffy opened #518 "Open the Google Login in the user's preferred browser"
We should consider configuring the login process for Replay to use the user's preferred browser to build trust that their credentials are secure.

https://app.intercom.com/a/apps/k7f741xx/inbox/inbox/search/conversations/165083900017937?teamAssigneeIdentifier=all&teammateAssigneeIdentifier=all&userIds=%5B%2261435bef2c192fff28865827%22%5D

[2021-09-16 15:57] jasonLaster commented on #518
I think it would be great to do this in the Replay browser that users download. I think it would be surprising to do it in other browsers, like forinstance safari, if safari isn't the default.

Moving to Gecko Dev

[2021-09-16 16:06] ryanjduffy commented on #518
Good point, @jasonLaster. That's also what I had in mind.

[2021-09-16 16:08] arcataroger commented on #518
(Feedback submitter here)

The problem with opening it in Replay is that it requires the user to hand over their Google credentials to a relatively unknown 3rd-party app. It's one thing to use Google to provide a token to login to Replay, but typing in the password into the app opens it up to MITM password capture. Not that I distrust Replay any more than any other app, but our Google accounts are

[2021-09-16 20:33] ryanjduffy opened #519 "Streamed HTML source isn't shown incrementally by replay"
If a site is streaming a large html file over time, the HTML source in Replay only displays the final state and not the incremental state as it loads. That means that if the user sets breakpoints on inline scripts, the source panel will show the entire source even if part of the source hadn't been downloaded at the time the script was evaluated.

[2021-09-16 20:54] jasonLaster commented on #519
Moving to Gecko Dev because this is not frontend related and is likely Gecko specific.

[2021-09-16 20:55] jasonLaster commented on #519
@ryanjduffy out of curiosity, how did you find this?

[2021-09-16 21:05] ryanjduffy commented on #519
I might be mistaken on this, actually. I diagnosed by logging `document.querySelectorAll(...).length` in a replay with a large streamed html and it was reporting the same number. However, I think I was looking for the wrong selector and I'm not sure there's actually a bug here after all. Still looking into it.

[2021-09-16 21:20] ryanjduffy commented on #519
I was misunderstanding the reported problem it seems. The question was why does the source view of the HTML file show the complete results when pausing on a breakpoint mid-download.

The Elements panel (which the user didn't have enabled) does show the expected content but the Source view does not. I can understand the question but I'm not sure how well it maps to the typical replay use case. I'm

[2021-09-17 02:04] jasonLaster opened #520 "SMAE fails to replay"
1. go to https://smae.surge.sh/
2. press new game

[2021-09-17 02:04] jasonLaster commented on #520
https://app.replay.io/recording/afedb00c-0d7b-4f73-a92f-0f2213ed57cc
https://app.replay.io/recording/571a60ab-e6e1-4bb0-904e-b6c06b58c10f

[2021-09-17 18:36] kannanvijayan opened #521 "Send crash data with tab crashes"
Tab crashes sent with `pingTelemetry` don't package crash data.  We should do so.

[2021-09-17 18:38] gideonred commented on #521
Adding this to our Customer Support board, as this will help improve the following Customer facing metric: https://ui.honeycomb.io/replay/datasets/backend/result/4quDRsvLBTq/a/FLQVs2hyx6t/Browser-Tab-Crashes

[2021-09-20 14:00] jasonLaster opened #523 "Improve Replay platform warnings"
The new platform warnings do a great job of letting people know that the recording might playback differently or not work at all, but a couple of things can be improved:

1. We can polish when and how the warning is shown
2. We can treat some warnings like MediaPlayback as not as severe
<img width="1318" alt="Screen Shot 2021-09-20 at 6 58 25 AM" src="https://user-images.githubusercontent.com/2545

[2021-09-20 14:40] #521 closed, assigned to kannanvijayan

[2021-09-20 15:26] jasonLaster opened #524 "motif.land doesn't replay properly"
It looks like there might be a platform limitation that is preventing motif.land from working.

https://app.intercom.com/a/apps/k7f741xx/inbox/inbox/4328427/conversations/165083900017488

[2021-09-20 16:54] #503 closed, assigned to kannanvijayan

[2021-09-20 17:11] cbejensen opened #525 "Overlay on list of recordings is cut off"
When viewing a list of recordings on https://app.replay.io/ , you can click the 3 dots icon on the far right to open an overlay. However, this overlay gets cut off at the bottom of the list.

![image](https://user-images.githubusercontent.com/12374723/134044550-a29de412-e73d-4ed1-9d13-0de43297ed3e.png)

[Here's a Replay](https://app.replay.io/recording/d9f8c140-b1c1-43fd-9d80-c60669ec3ea4)

[2021-09-20 19:23] bhackett1024 opened #526 "Wrong frame scrubbing behavior"
STR:

1. visit https://app.replay.io/recording/bc9d2aaa-3c82-47f6-b518-75e0a7a496ec?point=42187411994614488438153947465646888&time=18644.928673323822&hasFrames=true
2. scrub around in the frame timeline

The last point in the frame is a console.error() call, which is wrong.  This is probably gecko's fault, where it is reporting that the exit point of the frame is at the last breakpoint site rather

[2021-09-20 20:29] jasonLaster commented on #526
* Moved to this week's sprint
* @loganfsmyth added your face, but feel free to re-assign as well
* Moved to Gecko Dev

[2021-09-20 21:26] jasonLaster opened #527 "Investigate why it takes time to open a new tab"
We should add telemetry to see what takes time when creating a new tab

[2021-09-21 03:59] jonbell-lot23 commented on #523
**Design POV:**

![image](https://user-images.githubusercontent.com/9154902/134108581-77f60046-512f-4480-af81-fe55b0d7c9d2.png)

1. Let's Replace the robot with a Replay logo
2. As Jason mentioned, let's not show the banner for every issue. Only high priority ones.

![image](https://user-images.githubusercontent.com/9154902/134108762-ceb23984-e651-4670-a90b-016ec6158be4.png)

3. Let's not show the

[2021-09-21 04:14] jasonLaster opened #529 "Replay theme is not persisted"
https://app.intercom.com/a/apps/k7f741xx/inbox/inbox/4328427/conversations/165083900017488

[2021-09-21 04:29] jasonLaster opened #530 "Cannot record Scratch"
The scratch editor crashes before opening https://scratch.mit.edu/projects/editor/?tutorial=imagine. It would be nice if we could record the scratch editor and replay the JS even if the webgl canvas was not visualized.

https://app.replay.io/recording/9c56aabb-e83b-4068-95c0-e3589067dc44

https://app.intercom.com/a/apps/k7f741xx/inbox/inbox/search/conversations/165083900016974?q=scratch&teamAssign

[2021-09-21 12:06] danyadanch opened #531 "Can't replay cocos creator game preview"
Hey! I wanted to test how replay REPLAYS cocos creator game preview and faced some errors.
If I just open game preview in default mode it works correctly, but if press "REC" button my preview is not loading.

What i see in the console:
`Uncaught TypeError: cc.logID is not a function`
`Uncaught TypeError: can't access property "init", cc.assetManager is undefined`

What kind of information i can pr

[2021-09-21 18:15] ryanjduffy commented on #531
@danyadanch - Thanks for reaching out. We don't yet support a handful of features including WebGL with Replay so that is my guess as to the root cause. If you can share a link to what you are trying to record, I can take a look and provide a more specific response.

[2021-09-21 20:17] ryanjduffy opened #532 "Network resource blocking doesn't work when recording"
Seems to work fine when not recording but it is ignored when recording

[2021-09-22 00:22] #506 closed, assigned to ryanjduffy

[2021-09-22 00:22] #527 closed, assigned to ryanjduffy

[2021-09-22 03:35] ryanjduffy commented on #529
I think this was by design but the design has changed ... Pray that I do not change it further 😉

[2021-09-22 03:39] jasonLaster commented on #523
Couple of thoughts:

1. I think it would be better to show the warning in the upload screen and replay. If we want to show a warning while recording it should be less obtrusive, like a badge next to the recording button.
2. The warning in the upload screen should mention the missing feature
3. I like the idea of contextual warnings, but some wont correspond to a DIV and even if they do that is mor

[2021-09-22 03:43] jonbell-lot23 commented on #523
1. I figured we could keep it around for the high priority items, but I'm happy to drop in all cases from the browser.
2. Agree, exact text to come.
3. I think the inline message is really important. But yeah, we could:
* Put it in the console
* Put it in the first frame of the video pinned into a corner or something
* Replay info section is good ... but it's secondary because most people won't go

[2021-09-22 08:31] jonbell-lot23 commented on #523
@ryanjduffy Sounds like these are the steps we're going to take here:

1. Take the banner out of the browser entirely. Ship it. This shouldn't be blocked on the other items.
2. Then we'll come up with some text for the upload screen. Ship that. No reason to wait on the other items.
3. Finally, we'll come up with ways of badging in the interface itself. The ideal UX answer is to show people what th

[2021-09-22 09:56] Andarist opened #535 "Replay recording can't load"
We've tried to record a feature branch of the XState Visualizer to check something out but unfortunately, the recording just doesn't boot up:
https://app.replay.io/recording/7c5e6240-8132-406c-8c69-0a386fad583b

There might be something off there with multiple, nested iframes, but that's just a guess of what might be happening here.

[2021-09-22 14:05] bhackett1024 commented on #523
I have some serious concerns with this proposal:

1. The reason for showing people the banner while recording is because that is when the website won't be working.  If we wait until the upload screen to message them then that is well after the point where they start becoming confused.  It's important that we tell people quickly why their page isn't working as expected, not least to avoid a ton of

[2021-09-22 14:46] Andarist opened #566 "Logged out constantly"
I'm being logged out from my profile in the Replay browser on a regular basis and I'm currently using it quite often (at least once a day). If that could be avoided it would make for a smoother user experience.

[2021-09-22 16:16] jasonLaster commented on #566
ugh - i hate auth0. Hopefully there's something simple here

[2021-09-22 16:40] jasonLaster commented on #514
@ryanjduffy can you follow up and get more information?

[2021-09-22 16:40] jasonLaster commented on #524
The issue is happening on localhost (not released yet). We've recently added Replicache. Tried again, and it's not crashing now, it's just not loading the data from indexeddb. It works fine when it's not recording. Here is the replay:
https://app.replay.io/recording/f45738ec-252d-47bf-ae40-3482076aae22.

[2021-09-22 16:41] jasonLaster commented on #524
@jazzdan to try to repro with replicache

[2021-09-22 19:42] jazzdan opened #533 "WebAssembly is not defined"
If you run this sample code in the Replay browser, which is the first google result for "how to check if a browser supports web assembly", the Replay browser fails the check https://stackoverflow.com/questions/47879864/how-can-i-check-if-a-browser-supports-webassembly. Here's a Replay https://app.replay.io/recording/277cff50-4e00-4c4c-b4f7-e5c11523f3e3 showing that `WebAssembly` is not defined. I'

[2021-09-22 23:18] jonbell-lot23 commented on #523
I hear you @bhackett1024 -- I think the key here is "over-warning" versus "under-warning." We don't want to be alarming when actually the Replay is going to work great. And obviously we don't want to have an entire page break quietly. So the key is finding a balance between the two.

I understand your points about badging the UI not being feasible. I imagine a world where we do it where possible (

[2021-09-23 15:08] jasonLaster opened #534 "CodeSandbox video is incomplete"

[2021-09-23 15:50] jasonLaster opened #536 "touch simulation causes replay to miss events"
![image](https://user-images.githubusercontent.com/254562/134540905-2cb14445-1b6d-4d7d-9522-ab61cdfd6d8a.png)

the replay browser doesn't seem to pass through click events reliably, even though the same site I'm testing works fine in Firefox with this option turned on.

[2021-09-23 15:58] ryanjduffy commented on #536
Recording from https://patrickhlauke.github.io/touch/tests/event-listener.html

https://app.replay.io/recording/5f91d7ec-2d46-4c0a-b5b0-2e7623f667db?point=8437482395119655216213295462613238&time=3967&hasFrames=false

Anecdotally, clicking with touch emulation on seems spotty. When recording, no touch events are captured.

[2021-09-23 16:59] gideonred commented on #514
Another report that's consistent, the following site (online.capitalcube.com/login) works in Chrome, but doesn't work in Reply:
![](https://cdn.discordapp.com/attachments/869029659751350293/890637320431231047/Screen_Shot_2021-09-23_at_12.34.03_PM.png)

I haven't testing Firefox yet, will do so next.

[2021-09-23 17:02] gideonred commented on #514
Firefox is showing the same problem:
<img width="1348" alt="Screen Shot 2021-09-23 at 1 02 57 PM" src="https://user-images.githubusercontent.com/28845582/134551799-ce077734-ae9f-4a5b-ba39-a3bc74f932b8.png">

[2021-09-23 17:14] ryanjduffy commented on #514
This latest case might be because that server's cert has too long of an expiry duration.

![image](https://user-images.githubusercontent.com/788456/134553280-0a348d72-a1c0-4c67-90e3-003d103b1cbd.png)

from https://sematext.com/blog/ssl-certificate-error/

[2021-09-23 17:37] loganfsmyth commented on #534
@jasonLaster What video? Seems like this is missing a recording link.

[2021-09-23 18:29] gideonred commented on #514
O wow, great find!!

We should probably start some kind of documentation on our attitude towards Firefox bugs/behaviors. The simple attitude is to say: "It's a Firefox thing, won't fix", but we should probably put more thought into it.

[2021-09-23 20:17] #529 closed, assigned to ryanjduffy

[2021-09-23 21:06] jasonLaster commented on #534
Sorry about that,

here's the recording id: 07dd393f-7f16-4afe-b016-7cff85e660a0
and a loom https://www.loom.com/share/25b10262599648e8adc89a35d86bef08

[2021-09-23 22:03] loganfsmyth commented on #526
This code is minified, which is part of why it's behaving so poorly. The actual code that runs is
[code]
and that is prettified. In the actual source is more like this all on one line
[code]
at the end of the function.

The sourcemap generated here has no mapping for the `}` specifically so the mapping for the `t)` portion of the code does not end and extends through the `}` location as well.

So

[2021-09-23 23:10] jasonLaster commented on #526
Thanks @loganfsmyth. Do you think it is reasonable to close this?

[2021-09-23 23:18] loganfsmyth commented on #526
I don't think there's anything actionable for us unfortunately.

[2021-09-23 23:18] #526 closed, assigned to loganfsmyth

[2021-09-24 00:58] kannanvijayan commented on #530
I took a look at this and it's hard to figure out where the error is getting raised.  It's an `NS_ERROR_NOT_AVAILABLE`, which indicates a browser issue being thrown up.  However, scratch has an error handling system where the error is sent through some winding paths before being reported via a log message.

I haven't found where the throw is happening exactly yet, but I got a bit closer.  I'm work

[2021-09-24 04:37] jasonLaster commented on #530
hmm, @kannanvijayan stepOver should stop at each breakable location. You can also try the frame progress bar too. And if something is weird, record it w/ replay and we can take a look.

[2021-09-24 14:22] bhackett1024 commented on #530
Audio related JS APIs aren't supported (https://github.com/RecordReplay/gecko-dev/issues/55).  What is supposed to happen when using them while recording is that we *do* throw NS_ERROR_NOT_AVAILABLE, but the browser should also call recordreplay::ReportUnsupportedFeature, which will show a banner saying that the page uses WebAudio and might not work right (https://github.com/RecordReplay/gecko-dev

[2021-09-24 16:59] jasonLaster opened #539 "Add support for browser emulations"
Browser devtools offer a bunch of useful feature for emulating mobile dev which would nice to support

* Responsive Mode https://github.com/RecordReplay/gecko-dev/issues/282
* touch simulation https://github.com/RecordReplay/gecko-dev/issues/536
* 3G and latency

[2021-09-24 18:40] kannanvijayan commented on #530
So that line ` recordreplay::ReportUnsupportedFeature("WebAudio", 55); ` is definitely there in the codebase and is definitely hitting (twice) when we open the scratch page during recording.

However, the yellow bar at the top only shows "WebGL" as an unsupported feature, and there are no additional bars that show up.  It seems like there should be two bars - another one for "WebAudio", but it's n

[2021-09-24 19:51] bhackett1024 commented on #530
Ah, the unsupported feature banner will only appear once per recording, so if there are multiple unsupported features we only show the first one.

I don't think we should ask the scratch people to change this.  The proper fix is on our end, which is to add support for audio and other unsupported APIs.

[2021-09-25 03:55] jasonLaster commented on #468
We should not show this warning if the devtools has been inactive for more than a couple of minutes...

[2021-09-25 14:48] jasonLaster commented on #523
Thanks @jonbell-lot23

Agreed that severity is important. And if the recording experience could be bad then we should notify earlier rather than later.

Here are the cases we currently handle [issue](https://github.com/RecordReplay/gecko-dev/commit/dc9936175e393ff0a2c104756c46ee32867ef923): MediaPlayback, WebGL, WebAudio, WebRTC, LoadPlugin, SharedArrayBuffer, and WasmStreaming.

* I've never seen

[2021-09-25 19:49] jonbell-lot23 commented on #523
Thanks Jason, I like both ideas.

* So once we agree on severe versus not severe...
* We make a subtle visual treatment for the top banner in browser
* We keep the upload screen concept
* And we design how it should look on Replay -- in theory the visual treatment should be similar

[2021-09-26 15:21] jasonLaster commented on #535
@Andarist just skimmed the logs and came up empty. We'll look into it this week as a case study in how to summarize sessions

[2021-09-26 15:24] jasonLaster commented on #524
Closing now that we've confirmed that it is a web assembly issue #533

[2021-09-26 15:25] #524 closed, assigned to jazzdan, kannanvijayan

[2021-09-26 15:26] jasonLaster commented on #515
@hbenl @joebobmiles does the "Launch Replay" button work for you on other Linux versions? Wondering if we should hide the Launch button in the library for some of these cases until we add proper support.

[2021-09-27 05:37] jonbell-lot23 commented on #523
Ah ha, it looks like Replay has light/dark themes, so here was my exploration:

<img width="1185" alt="image" src="https://user-images.githubusercontent.com/9154902/134850629-e156c144-8d1b-4298-b40d-1a6647706982.png">

The goal is to keep a colour that aligns with the browser's current colour. (I assume this is possible somehow) Then we have a little note at the top. We can play with the exact col

[2021-09-27 14:17] jasonLaster commented on #444
removed from go/plan because it was just there pre-launch to be hyper focused on launch. in general go/plan is for larger projects

[2021-09-27 17:16] ryanjduffy commented on #519
Closing as "Will not implement" under the assumption that the Elements panel will be sufficient to track the current DOM state of streamed HTML

[2021-09-27 17:16] #519 closed, assigned to nobody

[2021-09-27 17:23] ryanjduffy commented on #462
Couple possible approaches:

* Clicking Sign In opens a new tab (if you're not on app.replay.io or about:blank) to log in
* Wait for #518 which should sidestep this issue
* Add redirect logic to return the user back to their source page. This feels a bit weird to me to go through replay's auth flow and then land on a non-replay site.

I think implementing 1 now should be easy and an improvement bu

[2021-09-27 17:24] ryanjduffy commented on #480
Nice catch! Seems like we should hide this for now.

[2021-09-27 18:05] ryanjduffy commented on #423
Relates to #56

[2021-09-27 18:08] ryanjduffy commented on #449
We were missing the basename config on the build box. It's in the `mozconfig.macsample` but was missing from our build config. I've added the following line which should fix this.

[code]

[2021-09-27 18:08] #449 closed, assigned to nobody

[2021-09-27 18:11] ryanjduffy commented on #439
The browser reports webGL warnings now which is likely the cause so duping this out to #58

[2021-09-27 18:16] ryanjduffy commented on #448
When is this message displayed? Is this ticket still relevant?

[2021-09-27 18:17] ryanjduffy commented on #432
Duping this out to #501 which includes @bhackett1024's suggested approach

[2021-09-27 18:17] #432 closed, assigned to nobody

[2021-09-27 18:27] ryanjduffy commented on #425
Is this a limitation in capturing network events (#64) or do we need to track this separately from that?

[2021-09-27 18:29] ryanjduffy commented on #417
@kannanvijayan is this too old to bother with or do we need more follow up on recording/replaying the library view?

[2021-09-27 18:32] ryanjduffy commented on #401
Guessing this is too old to repro any longer so going to close :)

[2021-09-27 18:32] #401 closed, assigned to nobody

[2021-09-27 18:34] ryanjduffy commented on #400
Seems to work now so closing this out

https://app.replay.io/recording/3f11775e-db25-4e28-bf21-db706ab73861

[2021-09-27 18:34] #400 closed, assigned to nobody

[2021-09-27 18:36] ryanjduffy commented on #399
Is this still a thing? I don't think I've seen it happen.

[2021-09-27 18:37] ryanjduffy commented on #384
We have spinners and some new telemetry so closing this out in favor of opening something new later with more actionable data.

[2021-09-27 18:37] #384 closed, assigned to nobody

[2021-09-27 18:40] ryanjduffy commented on #210
Guessing this isn't a pressing issue since it's been around for nearly a year. Closing under that assumption

[2021-09-27 18:40] #210 closed, assigned to nobody

[2021-09-27 18:51] ryanjduffy commented on #424
We have the spinner and some telemetry around this so I'm going to close this and we can reopen or open a new one with more actionable steps.

[2021-09-27 18:51] #424 closed, assigned to nobody

[2021-09-27 18:55] ryanjduffy commented on #435
This mentions playwright and the CLI so wanted to verify this issue is in the right place. Is there gecko work to do or should we move this to another repo?

[2021-09-27 19:06] loganfsmyth commented on #425
It seems like this works from what I can see.

[2021-09-27 19:12] bhackett1024 commented on #435
This might be good for the ops repo.  The problem is that we don't have a defined strategy for how users should get their source maps to us.  The status quo might be good --- the browser uploads source maps when explicitly recording, but otherwise they have to be uploaded separately as part of the build process --- but we need to write out that approach and agree on it.

[2021-09-27 19:21] ryanjduffy commented on #435
Makes sense. Thanks! I'll create a new one there (since GH won't let us move from public to private).

[2021-09-27 19:21] #435 closed, assigned to nobody

[2021-09-27 19:25] kannanvijayan commented on #417
Let me try to make this recording again and see if it's still a problem.

[2021-09-27 19:49] #399 closed, assigned to nobody

[2021-09-27 19:51] jasonLaster commented on #448
it's shown when we cannot connect to the dispatcher

[2021-09-27 21:26] bhackett1024 opened #541 "Windows: enable use of DirectWrite"
https://github.com/RecordReplay/gecko-dev/commit/86ce2b6b251a7f29f1f30a28e790cfbc1113a1b2 disables use of IDWriteFactory for rendering fonts in gecko, to avoid having to deal with the interfaces used to render fonts via DirectWrite.  It would be good to fix this, as the fallback font rendering strategy which gecko uses draws pretty ugly text in comparison, at least on simple unstyled pages.

[2021-09-28 01:05] #425 closed, assigned to nobody

[2021-09-28 02:42] jasonLaster commented on #462
Yep - one feels fine.

[2021-09-28 10:45] hbenl commented on #468
I got the "Are you still there?" modal in the Replay browser when I left a replay open for a while, so I don't think this is a browser issue. It seems that a closed socket will sometimes emit a `close` event and sometimes an `error` event.

This is implemented in RecordReplay/devtools#3761

[2021-09-28 10:45] #468 closed, assigned to hbenl

[2021-09-29 14:32] #480 closed, assigned to nobody

[2021-09-29 14:33] ryanjduffy commented on #417
Closing assuming it's no longer an issue. #biasforaction 😀

[2021-09-29 14:33] #417 closed, assigned to nobody

[2021-09-30 01:32] jonbell-lot23 commented on #523
Ok, I think this is just about ready to tackle.

1. Use the light/dark visuals above at the browser level. (Replacing the big bright yellow banner we currently have)
2. Add a note into our upload screen.
3. There's still a question of high importance/low importance that Jason mentioned above. His thinking there seems like a good place to start from.

Cc'ing @ryanjduffy , who's doing this I believe

[2021-09-30 02:07] ryanjduffy commented on #523
I've started looking into the notification styling in the browser. That should be pretty straightforward. I'm not as clear on how we message on the upload screen yet.

@bhackett1024 , @loganfsmyth - do we have this information already in the recording metadata? Should we/do we need to add it?

We could pass the context via querystring parameter to the upload screen as a lo-fi solution but that'd b

[2021-09-30 12:09] bhackett1024 commented on #523
We don't include unsupported information in the recording metadata, but it should be straightforward to do so.  The Recording class in connection.js both gets the unsupported feature notifications and sends the `Internal.setRecordingMetadata` commands to associate metadata with the new recording.

[2021-09-30 13:21] gideonred opened #544 "Banner at top of browser that warns if the recorded site has incompatible technologies gives a link that's unclickable and uncopy-pastable."
When trying to record a site that uses WebGL or Mediaplayback I see a banner as in this screenshot:
![Screen Shot 2021-09-30 at 9 19 06 AM](https://user-images.githubusercontent.com/28845582/135462888-9ddebc10-ed9a-49f4-9eb2-ef518440efc0.png)

This is useful in knowing that there's something I can't record, but I can't click on the link given, and I can't copy and paste it.

I expect to be able to

[2021-09-30 13:47] ryanjduffy commented on #544
I have some visual cleanup of these warning in my queue already so I’ll be sure to address this.

[2021-09-30 19:03] ryanjduffy commented on #462
Closing this since we've landed option 1 and have another ticket for popping a window to auth outside of Replay

[2021-09-30 19:04] #462 closed, assigned to nobody

[2021-10-01 15:43] hbenl commented on #566
Unfortunately I couldn't find any useful information in the Auth0 logs: they show that @Andarist logged in, but no indication why he was logged out.

[2021-10-02 16:09] jasonLaster opened #545 "Replay branding is gone"
Likely a result of the recent change @ryanjduffy made
<img width="1605" alt="Screen Shot 2021-10-02 at 9 08 35 AM" src="https://user-images.githubusercontent.com/254562/135724224-3cccb6c5-0082-4295-b611-84db93296d4e.png">

[2021-10-02 16:28] jasonLaster opened #546 "Disable devtools while recording"
Several of our recent crashes have occurred because browser devtools have been open while recording. We should disable this so that we can provide a more stable replay experience.

[2021-10-03 00:29] ryanjduffy commented on #545
Was this from a new  install or an update?

[2021-10-03 00:46] jasonLaster commented on #545
an update

[2021-10-05 15:17] #544 closed, assigned to ryanjduffy

[2021-10-05 15:18] ryanjduffy commented on #523
There are a couple more parts to this beyond restyling the banners so I'm reopening to address those.

[2021-10-05 17:05] ryanjduffy opened #550 "Failing cloudflare challenge"
https://app.hubspot.com/login

https://app.replay.io/recording/0ca13b1a-ceea-46ca-957a-79a506a99d05?point=1622592770128790625143699250612462&time=5407&hasFrames=false

[2021-10-05 18:59] ryanjduffy commented on #545
I think this is due to having created a profile with a theme config before we started using alpenglow as the default. When I install replay fresh, it launches with alpenglow and stays that way. When I launch my local build with a new profile, i can see that the first run only has the default theme enabled but that our code causes it to enable and use alpenglow. On the second launch, all 4 themes a

[2021-10-05 18:59] #545 closed, assigned to ryanjduffy

[2021-10-05 19:44] jasonLaster commented on #545
Makes sense!

On Tue, Oct 5, 2021 at 12:00 PM Ryan Duffy ***@***.***> wrote:

[2021-10-05 20:52] ryanjduffy commented on #550
We have a theory that the mismatch between the reported UA version and the actual version might be at play. Going to bump the UA string and see if that has an impact.

[2021-10-06 15:11] #550 closed, assigned to nobody

[2021-10-06 22:29] jazzdan opened #553 "`alert`, `confirm` and friends don't show up in video"
If a page calls `window.alert`, `confirm`, etc that dialog box doesn't render in the video https://app.replay.io/recording/f40f5993-280b-4d91-a755-0e495b1cebf9

[2021-10-06 22:50] loganfsmyth commented on #553
I think the prompt is normally rendered in the parent process, so we may need to record that a prompt opened/closed then render an analogous thing ourselves when replaying.

[2021-10-07 00:06] jasonLaster commented on #553
kinda like the mouse 🐭

[2021-10-07 22:15] ryanjduffy commented on #523
The metadata changes required for the remaining work seems to be larger than we want to do without more discussion and prioritization. I've created https://github.com/RecordReplay/backend/issues/3196 to track that work and will close this. We can spin up new tickets off that project once we have an approved path forward.

[2021-10-07 22:15] #523 closed, assigned to ryanjduffy

[2021-10-08 00:16] ryanjduffy commented on #444
Linking this in so I can close the tab and not lose track of it:

https://developer.apple.com/design/human-interface-guidelines/macos/icons-and-images/image-size-and-resolution/

[2021-10-13 16:11] ryanjduffy commented on #444
Closing this for now since it isn't reproducible and seems to be intermittent. We can reopen if it seems to become systemic.

[2021-10-14 22:15] gideonred opened #555 "Windows build of Replay browser is rendering at lower resolution"
I compared the latest Firefox with the latest build of Replay on Windows. Below is an excerpt of having them side by side on the same screen, left is Firefox, right is Replay:
![WindowsCompare](https://user-images.githubusercontent.com/28845582/137402789-a4e126d0-d6da-4fe5-a9f4-0fbc0abf5c17.png)

For interest here's the entire screenshot:
![Screenshot 2021-10-14 133025](https://user-images.githubu

[2021-10-15 02:17] jasonLaster opened #556 "Show new replay tab immediately"
We currently show a spinner when the user clicks "stop". We have telemetry on how long the spinner takes, but short story, it too often takes more than 10 seconds which is unacceptable.

We should figure out how to open a new tab immediately with the new replay's url `/recording/<id>`

[2021-10-15 02:45] jonbell-lot23 commented on #556
And piping up from design-land: every feature should be built with this mindset as well.

We can't ever assume "it will probably load quickly" because then the experience gets caught up in a million little things that can go wrong. We should always load something immediately and message status. (As this task describes) If the feature loads quickly 99% of the time, great. But when it doesn't, we ca

[2021-10-15 14:01] kannanvijayan commented on #556
Taking some notes on things to check:

1. What does the browser wait for before it stops the spinner on the REC button and opens a new tab.

I don't think it's waiting on recording upload to finish (that would consistently take very long times), but would be good to double-check.

It could be waiting on the result of the `RecordingMetadata` protocol command to come back, which I can see taking a l

[2021-10-15 14:21] jasonLaster commented on #556
Here's some telemetry @ryanjduffy added a month ago

https://ui.honeycomb.io/replay/datasets/backend/result/3vBXySvALSh?tab=raw
https://github.com/RecordReplay/gecko-dev/blob/webreplay-release/devtools/server/actors/replay/connection.js#L692

e.g.
[code]

There's tons of `pingTelemetry` here, but it's not clear what we should be looking for... perhaps `RecordingState.Ready` with a `duration`...

[2021-10-15 23:51] jasonLaster opened #558 "Connection is not authenticated"
I think that the browser has an old access token so it thinks i'm logged in, but app.replay.io has a different session...

<img width="878" alt="Screen Shot 2021-10-15 at 4 51 06 PM" src="https://user-images.githubusercontent.com/254562/137565234-45c14253-fe0c-4260-a8e8-7de9420ac9e3.png">

https://www.loom.com/share/8b9cd3ff07e449638ae350b2e44d131c

[2021-10-18 03:52] jasonLaster opened #559 "Support Apple Silicon for Gecko Dev"
The Replay browser is currently a universal app and does not have an Apple Silicon version. This by itself is likely a significant performance issue regardless of whether users are recording or not.

Fun fact, this was actually the first piece of feedback that Guillermo, the CEO of Vercel shared with me.

[2021-10-21 01:25] #546 closed, assigned to ryanjduffy

[2021-10-21 14:01] bhackett1024 opened #562 "Windows: Temp directory fills up with record/replay DLLs"
When a recording content process starts, it creates a temporary file with the record/replay DLL's contents for loading (unless the DLL path was specified via the environment).  We try to delete the file after it has been loaded, which I think works fine on mac/linux but the files stick around on windows, presumably because NTFS doesn't allow deleting a file that is in use.  Unless the temp directo

[2021-10-21 19:26] loganfsmyth commented on #558
From everything I've seen around this so far when trying to figure it out myself, something is causing us to use an old access token even though it is expired, so the button says Rec even though it has a bad token and should have been updated to say SignIn.

[2021-10-22 16:42] ryanjduffy opened #564 "Unable to close devtools while recording"
See https://github.com/RecordReplay/gecko-dev/pull/561#issuecomment-949655727

[2021-10-22 17:00] ryanjduffy commented on #564
cc: @staabm

[2021-10-22 17:46] ryanjduffy opened #565 "Support `replay:` URL scheme on windows"

[2021-10-22 19:24] #558 closed, assigned to ryanjduffy

[2021-10-23 04:11] jasonLaster opened #567 "Not supported ButterBar should only appear in the initial tab"
<img width="627" alt="Screen Shot 2021-10-22 at 9 10 36 PM" src="https://user-images.githubusercontent.com/254562/138541960-e0a8e86a-45b8-4cfb-ac3a-772d34038216.png">

[2021-10-23 04:28] jasonLaster commented on #564
Seeing this makes me think that if it's possible to just close devtools when we start recording and stop it from being opened that might be better.

[2021-10-23 05:17] jasonLaster commented on #566
I wonder if @ryanjduffy fix will fix this too. either way, probably belongs here...

[2021-10-23 14:52] jasonLaster opened #568 "Show the correct cursor"
I believe we only store the x/y position of the cursor. It would be nice to also have the type so that we can show the correct pointer in the video

Here's an example mouse event.
[code]

We should also have cursor which could have keywords like pointer, grab, text, resize...

[2021-10-25 16:33] loganfsmyth commented on #510
Closing since #558 is closed now. Guess we can keep an eye out.

[2021-10-25 16:33] #510 closed, assigned to loganfsmyth, kannanvijayan

[2021-10-27 15:39] jasonLaster opened #571 "Run in AWS Lambda"
The https://github.com/alixaxel/chrome-aws-lambda documents what is required to run chromium in AWS Lambda. It should be similar to do the same for gecko-dev

Their repo is pretty good with a lot of documentation and limits from the lambda side:
* Lambda is limited to one CPU thread.
* Lambda is limited to 3GB of RAM.
* Lambda is not provisioned with any fonts.

For example in Lambda you can't ope

[2021-10-28 14:55] hbenl opened #573 "Example recordings not saved in e2e tests"
When an e2e test from our devtools repo is run, it creates an example recording and save the recordingId in `example-recordings.json`, so that it won't have to create a new example recording every time. For this to work, the browser prints `CreateRecording <recordingId> <url>` on the command line when creating the recording (see [here](https://github.com/RecordReplay/gecko-dev/blob/d20d948b5293f92

[2021-11-01 15:20] #567 closed, assigned to ryanjduffy

[2021-11-03 13:26] bhackett1024 opened #580 "Use record/replay build ID in about dialog and when checking for updates"
After https://github.com/RecordReplay/gecko-dev/commit/e27bce89e6d48ebbc079782e016abc3952f20e5c auto updates aren't working correctly with newer builds because we send the gecko build ID to the update server, which it doesn't understand anymore because it isn't incorporated in the record/replay build ID.  The about dialog should also show the record/replay build ID instead of the gecko build ID, a

[2021-11-03 13:39] kannanvijayan opened #581 "Windows recordings by Pieter-Jan hanging on completion."
Putting this in gecko-dev for now as it's likely a browser issue.

I took a look at one of the controllers and it's notably fully of linker crashes and a call to `DieRaw` that looked like it was hitting an assert or some other recognized bad state.

Here's a catalogue of the controllers, recordings, and build ids that Pieter-Jan used:

[code]

[2021-11-03 13:44] kannanvijayan commented on #581
Oh, the other thing I noticed is that in this query for Pieter-Jan's recordings, there are no 'recordingDuration' fields for any of these, suggesting that processing did not complete for them, or that recording data was not fully received.

[2021-11-03 16:19] ryanjduffy opened #582 "Message when browser is using API key"
If gecko starts with `RECORD_REPLAY_API_KEY` env variable set, it'll use that and not prompt for sign in. We should message that in some way so users know it's using an API key.

[2021-11-04 16:48] #580 closed, assigned to nobody

[2021-11-04 17:39] jasonLaster opened #583 "Uploading spinner is stuck"
Sometimes if Replay is open awhile and i try to make a recording it spins forever. This happened yesterday too
<img width="873" alt="Screen Shot 2021-11-04 at 10 38 49 AM" src="https://user-images.githubusercontent.com/254562/140390948-d6217dd8-5bd2-4d6e-addf-28d080458717.png">

[2021-11-04 17:42] jasonLaster commented on #583
<img width="1362" alt="Screen Shot 2021-11-04 at 10 41 59 AM" src="https://user-images.githubusercontent.com/254562/140391433-20da795f-0f21-40b3-a959-49d723b8f91e.png">

[2021-11-04 18:30] bhackett1024 commented on #555
Some notes from Jason at Glide in their slack are below.  It looks like the problem is we're not setting the high DPI mode for the resulting executable for some reason.

[code]

[2021-11-06 01:22] jcmorrow commented on #573
Took me a while to find this 😆 , here's some context from an issue a few weeks ago: https://github.com/RecordReplay/devtools/issues/3963

[2021-11-09 12:39] bhackett1024 commented on #555
Looking through https://docs.microsoft.com/en-us/windows/win32/hidpi/setting-the-default-dpi-awareness-for-a-process a process can create high DPI windows either in its manifest or via API calls.  I don't see any of the relevant API calls in gecko, and there is a manifest setting that should allow high DPI mode here:

https://github.com/RecordReplay/gecko-dev/blob/9cfb2558294dce5c2feca80dd92667e46

[2021-11-09 13:19] bhackett1024 commented on #555
So, windows manifests are embedded as part of the executable file itself.  It looks like the manifest isn't present in replay.exe:

[code]

It is present in a firefox distribution, though there aren't any of the DPI awareness settings reflected for some reason (note that upstream firefox has the same default-browser-agent.exe.manifest, which hasn't been changed in 1.5 years).

[code]

firefox.mani

[2021-11-09 14:26] #555 closed, assigned to bhackett1024

[2021-11-09 14:28] bhackett1024 commented on #555
The above patch fixes things for me in my windows VM.  Note that SetProcessDpiAwarenessContext is only available in windows 10 or later, so this will only update DPI awareness in those cases.  We dynamically load the procedure so things should still work (just without high DPI) in older versions of windows.

[2021-11-09 14:46] bhackett1024 opened #585 "Windows theme covers up title bar buttons"
With the fix for https://github.com/RecordReplay/gecko-dev/issues/555 in place, we have a rendering problem now on high DPI displays where the title bar buttons are partially covered up (they can still be clicked though).

<img width="162" alt="Screen Shot 2021-11-09 at 7 22 24 AM" src="https://user-images.githubusercontent.com/1062578/140942676-3ab974c3-4801-456c-8fca-9ca7b62c1f80.png">

It looks

[2021-11-09 15:09] bhackett1024 commented on #585
@ryanjduffy hi, I think this is related to https://github.com/RecordReplay/gecko-dev/pull/370 which added the alpenglow theme.

It looks like this may be a bug in firefox itself, I found a support thread at https://support.mozilla.org/en-US/questions/1087270 about themes on windows 10 where the images are cut off in about the same way as here.

[2021-11-09 20:11] ryanjduffy commented on #585
:+1: I'll check it out

[2021-11-10 07:41] jasonLaster opened #586 "Keyboard events are missing from the Events pane"
Compare the event listeners to the events pane
https://app.replay.io/recording/72fac77a-1ba5-4ce3-afa7-977a26286492?point=47055190306973879095770373551030339&time=19066.001902084023&hasFrames=true#

<img width="1512" alt="Screen Shot 2021-11-09 at 11 41 19 PM" src="https://user-images.githubusercontent.com/254562/141070589-2aab496f-f5a0-480a-8321-8af830983a2a.png">

[2021-11-13 00:06] ryanjduffy opened #588 "Unexpected type error in recording"
This recording shows an error, `Unexpected Type`, that only happens in Replay. I searched through the code in the replay and didn't see an apparent cause there which leads me to think the browser is throwing it from somewhere.

https://app.replay.io/recording/047a1b8e-8077-4176-a925-9b424c7f94fd?point=55817191231155286934282395847755245&time=27085&hasFrames=true

[2021-11-14 17:00] jasonLaster commented on #58
We can likely use swiftshader to emulate openGL APIs when replaying, and use the hardware graphics when recording.

Chromium uses swiftshader for software graphics and recording/replaying it shouldn't be hard, but it's hard to predict what the interface between the two will look like and how high/low level it is compared to the graphics library interface

[2021-11-17 05:48] ryanjduffy commented on #588
@bhackett1024, @loganfsmyth  I added a few comments to a new replay of this issue. It only happens when recording; the app works as expected when just browsing. Ideas?

https://app.replay.io/recording/0570909a-94f9-408b-bd38-280968bca7f9

[2021-11-17 12:49] bhackett1024 commented on #588
This error looks like the one fixed in https://github.com/RecordReplay/backend/issues/3095, which was affecting unqork users.  Previously we would crash while recording the site.  The exception gets thrown from here:

https://github.com/RecordReplay/gecko-dev/blob/69d95c6857a6bd5bbc3864048390b75edb76d380/js/src/vm/Interpreter.cpp#L4642

What's going on is that spidermonkey is trying to get a prope

[2021-11-17 12:53] bhackett1024 commented on #588
Also, I don't see any crashes related to this in bugzilla, so rebasing on a recent firefox probably won't fix this.  It also suggests it could be a recording related problem.

[2021-11-17 15:39] ryanjduffy commented on #588
Thanks for the explanation! Very helpful.

* I can repro it every time when recording on the unqork QA site
* It only repros when recording. The site behaves correctly otherwise in the Replay browser.

[2021-11-17 17:15] ryanjduffy opened #589 "Add Windows Icon"

[2021-11-17 17:25] bhackett1024 commented on #588
Cool, can you write down some exact STR?  I don't know what the unqork QA site is.

[2021-11-17 18:24] ryanjduffy commented on #588
I'll have them add your replay email to it so you can access.

1. Visit qa4.unqork.io
2. Log In
3. Try to record

[2021-11-17 18:45] bhackett1024 commented on #588
Thanks, the arguments analysis is definitely behaving differently when recording vs. not recording.  When not recording it decides the Tooltip function needs a real arguments object, but when recording it decides the Tooltip function can have optimized arguments.

[2021-11-17 21:34] #588 closed, assigned to nobody

[2021-11-17 22:04] ryanjduffy commented on #588
@bhackett1024 :+1: Let me know when the browser has been updated and I'll follow up with the unqork team. Thanks!

[2021-11-17 23:25] bhackett1024 commented on #588
New browsers have been released with the fix.  I also verified that recording this site works now.

[2021-11-22 04:20] jasonLaster opened #598 "Connection has not been authenticated"
The Replay browser can occasionally get into a bad state where you cannot record. Ryan fixed this by clearing his API Key, but Jon also hit the issue and i dont think he has an API Key. I get out of the issue when i see it by quitting and re-opening.

https://ui.honeycomb.io/replay/datasets/backend/result/dLXvB9fen1M

![image](https://user-images.githubusercontent.com/254562/142800566-43e02240-044

[2021-11-23 10:50] bhackett1024 opened #600 "Exception while processing sourcemap"
I noticed this while looking through some of our test logs, it looks like we had a problem handling a source map but the logError function used to log this has an undefined reference.  cc @loganfsmyth

[code]

[2021-11-23 14:07] hbenl commented on #598
While working on this, I suddenly ended up with my Replay browser in this state (immediately after logging out on app.replay.io):
![Screenshot_2021-11-23_13-28-57](https://user-images.githubusercontent.com/16060807/143037428-d9d8c984-b7d6-429d-aadf-959b8572e698.png)
So I was not logged in but the "REC" button was enabled. I also checked that `devtools.recordreplay.user-token` was empty in `about:c

[2021-11-23 14:11] hbenl commented on #598
IIRC this happened immediately after updating the browser: I logged in on app.replay.io, then was prompted to update the browser and did so, then logged out.
I could also reproduce this (logging in and out without the "REC" button changing its state), but after restarting the browser I could not reproduce it anymore.

[2021-11-23 14:35] hbenl commented on #598
I tried on another computer: Logged in on app.replay.io, updated the browser, logged out on app.replay.io.
Result:
![Screenshot_2021-11-23_15-31-34](https://user-images.githubusercontent.com/16060807/143043623-594f493e-d531-4558-9c11-aac004bdea66.jpg)
Once again the "REC" button is enabled but there's no access token. So it seems this could really be related to browser updates.

[2021-11-23 14:39] hbenl commented on #598
Seeing several of these error messages in the browser console:
![Screenshot_2021-11-23_15-38-38](https://user-images.githubusercontent.com/16060807/143044507-61201b70-aaea-4591-bf8b-9fc9cd692aff.jpg)
... but then I found that these error messages also appear when the browser is not in this broken state. In fact all the error messages stay the same.

[2021-11-23 14:43] hbenl commented on #598
I can still make a recording with the browser in this state, so I guess it keeps using the access token that I had before logging out.
But if my token _expired_ after a browser update (instead of it getting deleted because I logged out), the browser would try to upload the recording with the expired token, which would lead to the error message seen in the OP.

[2021-11-24 00:03] jasonLaster commented on #547
`RECORD_ALL_CONTENT=1 cypress --browser <replay-path>`

[2021-11-24 16:36] #600 closed, assigned to loganfsmyth

[2021-12-03 12:05] bhackett1024 opened #613 "Browser shows VPN advertisement on startup"
When I opened Replay a little while ago I saw an ad for mozilla's VPN service https://www.mozilla.org/en-US/firefox/welcome/11/

[2021-12-03 23:53] bhackett1024 opened #616 "Rebase: Remove dock nag"
When opening up the ESR rebase of replay (https://github.com/RecordReplay/backend/issues/3826) this is how the browser looks:

<img width="1278" alt="Screen Shot 2021-12-03 at 3 52 18 PM" src="https://user-images.githubusercontent.com/1062578/144687216-abf2a20b-c0df-436a-bf2b-911c20def20a.png">

This nag should be disabled.

[2021-12-03 23:55] bhackett1024 commented on #616
Clicking not now then cycles through two more nags to make replay the default browser and change the theme, which also need to be removed.  Related, some of the changes we made to disable the new install and tour pages were removed in upstream and presumably replaced with stuff like this.  We'll need to track down what is going on again to fix these.

[2021-12-06 12:26] hbenl opened #617 "getAllBoundingClientRects: Handle overflow"
We currently ignore the `overflow` CSS property in `DOM.getAllBoundingClientRects`, so overflowing elements are selectable even when they are hidden.

[2021-12-07 14:46] bhackett1024 commented on #58
I looked through the SwiftShader docs a bit (https://swiftshader.googlesource.com/SwiftShader/+/HEAD/docs/Index.md), and I think it's a great fit for what we need.  It's already designed to act as a shared library implementing the OpenGL ES spec, which is what WebGL is based on.

I was curious what the first obstacle here was so I removed the code for disabling webgl when recording/replaying (grep

[2021-12-08 15:07] kannanvijayan commented on #58
When you say that the main process "describes" the textures to the UI process, what exactly does that entail?  Is it the addresses/sizes of textures generated in the main process, along with the layout info for how to composite them?  Or is there some IPDL protocol for asking the UI process to allocate a new known texture which gets written into, and then after it's filled just the layout info is

[2021-12-08 15:27] bhackett1024 commented on #58
This is handled through an IPDL protocol.  PCompositorBridge is the top level protocol, but most of the work happens within the PLayerTransaction which it manages.  PLayerTransaction::Update includes the main changes to the layer tree which the compositor needs, but I don't have a good understanding of the details around the order in which things happen.

When replaying we create the in-process Co

[2021-12-08 21:54] bhackett1024 opened #621 "Find another way to merge changes to playwright branch"
Our build/test CI workflow uses the devmasx/merge-branch github action to merge new changes to webreplay-release into the playwright branch.  This step fails regularly and randomly with some error "502 - Server Error (Octokit::BadGateway)".  Restarting the job usually fixes things, but we should find a way to merge branches automatically that works reliably (I don't know why github can't provide t

[2021-12-08 21:55] bhackett1024 commented on #621
Example failure: https://github.com/RecordReplay/gecko-dev/runs/4463295020?check_suite_focus=true

[2021-12-09 00:13] bhackett1024 opened #622 "Support forcing recording invalidation in nsIRemoteTab"
JS can use nsIRemoteTab.finishRecording to tell the recording process to cleanly finish its recording, but this message should be updated so it can take an abort reason that causes the recording process to invalidate the recording instead.  This could be a separate message but that would require a lot more plumbing.

[2021-12-09 05:53] ryanjduffy commented on #267
This may have been fixed incidentally along the way. I was able to install 1Password and React Dev Tools tonight on the release build of Replay on Mac.

[2021-12-09 13:56] #617 closed, assigned to hbenl

[2021-12-09 15:55] jasonLaster commented on #267
Oh wow! Very cool.

[2021-12-09 15:55] #267 closed, assigned to ryanjduffy

[2021-12-09 16:33] jasonLaster commented on #58
High level
1. Can you describe the different processes involved while recording vs replaying: content/parent/main/ui/graphics? A diagram for recording/replaying would help here.
2. How similar is the replaying process to the recording content process?

Next steps

3. How would we get the recording process to make the OpenGL API calls?
4. How would we create the missing textures? Is it similar to h

[2021-12-09 17:55] ryanjduffy commented on #585
We reverted the fix so this needs to be addressed again either by conditionally applying the pref or, ideally, sorting out why the theme does what it does.

[2021-12-09 19:48] bhackett1024 commented on #58
This is a good technical overview of multiprocess firefox: https://billmccloskey.wordpress.com/2013/12/05/multiprocess-firefox/  See the "Drawing" section in particular.

The simplest setup for e10s firefox has two kinds of processes: the UI process is the privileged one which manages the UI and only loads trusted content, while content processes load untrusted web content and communicate with the

[2021-12-09 22:19] #622 closed, assigned to bhackett1024

[2021-12-09 22:58] gideonred opened #627 "Hitting backspace browses back in history."
Hitting backspace while just browsing using the Replay browser makes you go back in history. Firefox does not do this.

Replay: https://app.replay.io/recording/462e26af-1a90-41fc-b454-64acf49567cc?point=20444668882482711772081239162357614&time=7861&hasFrames=false

[2021-12-09 23:32] jasonLaster commented on #627
Andarist originally filed this

[2021-12-09 23:32] jasonLaster commented on #627
Andarist originally filed this

[2021-12-10 13:24] hbenl opened #628 "getAllBoundingClientRects: handle inline elements correctly"
Multiline inline elements create more than one rectangle in the page. Currently we ignore this and use `element.getBoundingClientRect()` which gives us a rectangle that contains all these rectangles, but we should start using `element.getClientRects()` instead.

[2021-12-10 13:38] hbenl opened #629 "getAllBoundingClientRects: return unclipped and clipped bounds"
When a DOM element is clipped by (the `overflow` CSS property of) one of its ancestors, we currently only return the clipped bounds of that element (i.e. the visible portion of it). However, the node pickers in browser devtools show the unclipped bounds and so should ours.

[2021-12-10 15:03] kannanvijayan commented on #58
Let me see if I understand this correctly.

If we want to run SwiftShader as an alternate GL backend during backend, it's fine as long as:

1. SwiftShader doesn't touch system APIs that would otherwise interact with the recording/replaying behaviour (i.e. consume data from the recording data stream)
  - If it _does_ touch system APIs, we can surround the calls into that code with some flag that in

[2021-12-10 15:11] bhackett1024 commented on #58
Yeah, this is all right.

[2021-12-11 13:00] bhackett1024 opened #630 "Add workflow for building/testing branches"
I tried adding a workflow for this to the replay-merge branch, but I can't get it to run in either the github UI or CLI.  I'll try pushing this straight to webreplay-release to see if it will run that way.

[2021-12-11 13:13] bhackett1024 commented on #630
This seems to be working.  I guess the main branch needs a workflow with the specified name in order to trigger a workflow, but if the workflow runs against a branch then the workflow/action code from that branch will be used.

[2021-12-11 13:13] #630 closed, assigned to bhackett1024

[2021-12-12 22:38] jonbell-lot23 opened #631 "Replay showing Firefox VPN offer"
<img width="845" alt="image" src="https://user-images.githubusercontent.com/9154902/145732364-687282c4-d4a3-45ad-91ae-cbd1f42f2363.png">

[2021-12-13 16:05] hbenl opened #632 "DOM.getAllBoundingClientRects protocol changes"
For #628 and #629 I'd like to change the structure of the `DOM.getAllBoundingClientRects` result:
- for #628 we need to return multiple rects for one DOM element (we could also return multiple entries with one rect each, but then the node picker would have to do extra work to highlight all rects for the same element instead of each rect individually; most of all I'd like to keep the protocol clean

[2021-12-13 16:06] #632 closed, assigned to nobody

[2021-12-14 00:36] jasonLaster commented on #559
From @bhackett1024

[2021-12-14 15:35] jasonLaster opened #634 "Repaint graphics are broken in MaterialIcon replay"
The graphics are garbled for this replay:
https://app.replay.io/recording/310026b0-6ddb-4e18-b559-ef616a43cc08

<img width="438" alt="Screen Shot 2021-12-14 at 7 35 18 AM" src="https://user-images.githubusercontent.com/254562/146029313-abf1f66d-238e-4c62-bfca-32627fc62773.png">

[2021-12-14 19:03] jasonLaster commented on #628
We might want to consider these cases too

[2021-12-14 19:09] Andarist commented on #628
@jasonLaster block stuff case - when this can happen? Paged media and regions - what? What do you mean by those two? I can imagine some stuff for paged media when it comes to printing and stuff but i have no idea what’s hidden behind regions stuff

[2021-12-14 19:11] jasonLaster commented on #628
@Andarist that came from here: https://twitter.com/fvsch/status/1470827502964723712

[2021-12-15 00:25] jasonLaster opened #635 "Improve vscode.dev TTI / TFP"
STR:
1. go to vscode.dev
2. press record

Notice how it takes awhile for the vscode to load.

replay: https://app.replay.io/recording/3006a6df-4908-4c1a-950f-a546451e8808

[2021-12-15 00:30] jasonLaster commented on #635
https://www.loom.com/share/627b06d00ddb4506963f1e7e525e8a2d

[2021-12-15 13:31] hbenl commented on #598
The root cause of this issue is that we use the `RECORD_REPLAY_API_KEY` environment variable for 2 purposes:
- it is set by the user if he wants to use an API key
- it is [set by the browser itself during initialization](https://github.com/RecordReplay/gecko-dev/blob/e47c146b6e0e625d290a6e7bf7743829dc9f7017/devtools/server/actors/replay/connection.js#L363) to the user's token (in order to pass it

[2021-12-15 15:28] jasonLaster commented on #598
This is big!

[2021-12-15 16:36] #598 closed, assigned to hbenl

[2021-12-17 11:46] #628 closed, assigned to hbenl

[2021-12-17 11:46] #629 closed, assigned to hbenl

[2021-12-20 16:39] #564 closed, assigned to ryanjduffy

[2021-12-20 16:45] ryanjduffy commented on #518
WIP

- [ ] RecordReplay/gecko-dev#641
- [ ] RecordReplay/devtools#4870
- [ ] RecordReplay/backend#4008

[2021-12-20 16:58] kannanvijayan commented on #58
I wanted to add some updates after our talk with the Chrome/SwiftShader WebGL+WebGPU folks, and some twitter conversations I noticed us getting into with WebGL devs.

Overall, Ken @ Google thought that this was basically impossible and kept coming around to the idea of actually recording/replaying the GL commands being issued at some level.  I don't think this is feasible for us.

Correct me if I'

[2021-12-20 18:23] gideonred commented on #58
My understanding of the tweet: Replay.io will be using SwiftShader which may be "100 times slower" than hardware accelerated WebGL. This will make the recording experience terrible. Also, it may cause code that is timing sensitive to behave very differently (badly written code may behave very differently when everything is running 10x times slower).

My take on it:
- We should measure the actual p

[2021-12-21 00:52] jasonLaster commented on #585
Adding this screencapture too
https://app.birdeatsbug.com/sessions/i3GgdezY7tZy-5g96sJ2C

[2021-12-21 16:01] hbenl opened #644 "Wrong client rects after executing CSS.getAppliedRules command"
In recordings of app.replay.io made on MacOS (I couldn't reproduce this with a Linux recording), the client rects we get for the buttons in the toolbar on the left are wrong if they are requested after a `CSS.getAppliedRules` command was executed for the same pause.
This replay shows the problem: https://app.replay.io/recording/6a45ccc7-2fed-4b0d-9b44-7870f769de98
It can also be reproduced with th

[2021-12-21 19:43] loganfsmyth opened #646 "Ensure that user credentials are passed along when loading sourcemap assets"
At the moment we're seeing some cases of sourcemap loading getting 401s and from talking with the client it sounds like they have basic-auth on their sourcemap assets, so we'll need to make sure that the basic-auth credentials get passed along properly when requesting sourcemaps.

[2021-12-21 20:06] loganfsmyth commented on #646
It's possible that we just need to add `credentials: "include",` to the `fetch` call, but it really depends on how `fetch` behaves when running in the parent process.

[2021-12-21 21:06] loganfsmyth commented on #646
https://gist.github.com/loganfsmyth/0c04ab7dbb70349cdc0762aca6e483cb

[2021-12-21 21:09] ryanjduffy commented on #518
Auth is _sometimes_ flowing from the browser to the app now. It sometimes fails and I don't know why. Also, I think we'll have to keep support for the previous flow for a while since we can't guarantee when users will upgrade their browser. So a bit more to do but progress.

https://www.loom.com/share/c46190cf6d6d44a2840b2f47bba7d99d

[2021-12-23 20:56] bhackett1024 opened #650 "Invalidated recording shows tab crashed screen when recording all content"
While testing recording app.replay.io I noticed that if the recording gets invalidated due to an exception unwind, we show a tab crashed screen instead of an informational message.

[2021-12-23 21:19] bhackett1024 commented on #650
After some more testing, this is working when logged in to replay and recording with the browser as normal, but when we set RECORD_ALL_CONTENT (for automated testing) and the browser isn't necessarily logged in then the tab crashed screen is shown instead.  This would still be good to fix, but not as high a priority.

[2021-12-23 21:21] bhackett1024 commented on #650
STR:

1. Copy the following to a file which can be loaded by a local webserver.

[code]

2. Launch replay with a URL to the page with the stack overflow, e.g.

[code]

3. Tab crashed screen is shown instead of a recording-invalidated message.

[2021-12-24 20:03] jasonLaster opened #651 "Add a windows installer"
https://twitter.com/anaisbetts/status/1472683818574401540

https://github.com/squirrel/squirrel.windows

[2021-12-28 05:46] ryanjduffy commented on #518
Sequence Diagram for the current end-to-end flow:

![image](https://user-images.githubusercontent.com/788456/147532508-82f675f3-901f-46d8-aee9-eac6535eb052.png)

https://excalidraw.com/#json=Ikm4opzfId8Y6pwOvN766,tkpxISP3ltkZ6t7nZjO-Eg

[2021-12-28 15:45] gideonred commented on #651
Not sure where our Windows CI/CD lives, I'll can check in with someone to maybe find out.

Had a quick browse of Firefox but couldn't see how they're creating their Windows Installer.

+1 for Nullsoft Installer btw (https://sourceforge.net/projects/nsis/), I've used it in the past to quickly package windows binaries into a windows installer.

[2021-12-28 15:50] bhackett1024 commented on #651
All our gecko related building and packaging logic is in the backend, https://github.com/RecordReplay/backend/blob/558e59a34fb99fbddb456ca3668a0f7791a5ac31/src/build/buildGecko.ts#L585 should be a good place to start for creating an installation file which can be uploaded to the website downloads instead of the .zip

[2021-12-28 16:48] gideonred commented on #58
You can force the use of swiftshader by running chrome with `--disable-gpu` or by going into your chrome settings and disabling hardware acceleration.

I quickly tried it on my M1 Pro.

Here's a video of a webgl demo that's usually butter smooth 60fps running in swiftshader at about 10fps.

https://user-images.githubusercontent.com/28845582/147588321-06658846-da2a-4200-8739-b4540a520b00.mov

I als

[2021-12-28 22:27] ryanjduffy commented on #518
Download link for the branch linked above (`ryan/browser-auth`): https://static.replay.io/downloads/macOS-gecko-20211228-74ec5733ec3e-a6a730607978.dmg

[2022-01-07 21:46] #518 closed, assigned to ryanjduffy

[2022-01-08 20:50] jasonLaster commented on #646
re-opening because this did not fix the issue

[2022-01-09 01:02] jasonLaster commented on #644
I can reproduce this on my Mac OS by recording our DevTools and highlighting a material icon especially the left toolbar

https://www.loom.com/share/a339bc7136a7444bbc170e742af66542

* [replay 1](https://app.replay.io/recording/7bd121c4-c47c-42d2-8329-1fc135c8d78b#
)
* [replay 2](https://app.replay.io/recording/f9702724-fde7-4ff6-b47d-d693d1f3ab0a?point=20769187437857387826915689053029497&time=845

[2022-01-10 15:09] bhackett1024 opened #656 "ReferenceError: initAuth is not defined"
This error is showing up a lot in our CI runs.  The tests seem to be passing OK (https://raw.githubusercontent.com/RecordReplay/build-test-dashboard/master/c3d5ac0b-45b1-4b3f-b0f0-53680bc243c1?token=GHSAT0AAAAAABIM7QFFMANIDP53SUIB6W72YPFQXTA) but sometimes we fail to create recordings and I don't know if that's related.  cc @ryanjduffy

[code]

[2022-01-10 17:23] ryanjduffy commented on #656
Thanks, @bhackett1024. Looks like some missed cruft from my last change. I'll patch it now.

[2022-01-10 18:58] #656 closed, assigned to nobody

[2022-01-11 16:46] phishy commented on #55
Yeah this is a bummer. We don't necessarily need to hear the audio, it would just be nice if the page would render. I also don't know how to catch the Exception, because Replay wont render the errored recording so I can see the console.

[2022-01-11 17:12] jasonLaster commented on #55
Hey @phishy that's a great point. There might be some things we can do on the "do not throw" side before actually supporting audio. CC @bhackett1024

[2022-01-11 19:54] jasonLaster commented on #55
@phishy out of curiosity, what APIs are you using?
https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API

[2022-01-11 20:02] phishy commented on #55
AudioContext with peaks.js

[2022-01-12 13:27] hbenl opened #660 "The result of evaluating document.elementFromPoint(x, y) changes"
This is similar (and probably related) to #644:
In a recording created by our live tests I noticed that the result of evaluating `document.elementFromPoint(x, y)` changes after executing `DOM.getBoxModel`on a text node:
https://app.replay.io/recording/64760805-7750-433d-b4e0-e6ca788919d6

[code]

This code will log first `HEADER` and then `HTML`.

[2022-01-13 16:22] hbenl opened #665 "Some playwright recordings contain an unusable endpoint"
Many of the example recordings that we now create with playwright for our e2e tests contain an endpoint that is unusable.
devtools usually jumps to the first comment or the first meaningful paint, but when running a test, it jumps to the recording's endpoint and at that point some protocol commands fail, e.g. `DOM.getDocument` returns an error "Document is unavailable", `Pause.evaluateInGlobal` re

[2022-01-13 21:24] gideonred opened #666 "Gecko Help sends you to a Notion page called "Old Replay Docs""
When doing:

Burger Menu -> Help -> Replay Help you are redirected to https://www.notion.so/Old-Replay-Docs-56758667f53a4d51b7c6fc7a641adb02 . Which is titled "Old Replay Docs".

Expected behavior: Get a document not titled "Old".

cc @ceceliacreates , you may have an opinion of what document we should link to.

[2022-01-13 22:19] ceceliacreates commented on #666
Unless we have a support landing page, then I would link to docs here: https://docs.replay.io/docs

As an aside -- eventually a support landing page would be nice to direct people to the docs, Discord, GitHub issues, and/or a support email address depending on what they need.

[2022-01-13 22:31] jasonLaster commented on #666
good call. It should definetely be https://docs.replay.io/docs

[2022-01-14 09:05] Aymkdn commented on #651
At least, the app should remain as a "portable version", that doesn't require to install it with admin rights, otherwise it will be difficult to use it in a professional environment.

[2022-01-14 15:57] jasonLaster commented on #651
Thanks @Aymkdn. Do you know what that would involve? By the way, we hope to add a proper windows installer soon.

[2022-01-14 16:10] Aymkdn commented on #651
I'd not recommend to install the app to `C:\Program Files\` or `C:\Programs\` but maybe in the `%APPDATA%` folder or just a standalone folder?

But the way I'd like to use Replay may differ from your own vision: for me it would be useful to share it with my users to get a reproduction of the bug they find. So instead of asking them for a screensharing with remote control, I could ask them to use R

[2022-01-14 16:26] jasonLaster commented on #651
Thanks for the context @Aymkdn. Soliciting user bug reports is a great use case. Several Replay teams do this now and we want to make it easier in the future. Here are our user facing [docs](https://docs.replay.io/docs/recording-bug-reports-80c37d7d6753485f81497570625d06f0).

* Agreed that the windows installer is a gap. I'm hoping we can just add it or as you suggest use a portable app.
* Using a

[2022-01-14 18:07] gideonred commented on #651
Great feedback @Aymkdn .

I'd like to throw this crazy idea in the ring: We could provide an instance of our browser over the web. E.g. we could launch our browser on a cloud linux box and then stream it to your browser using VNC-over-the-web or something similar.

[2022-01-15 00:54] ryanjduffy commented on #646
Hopefully fixed by #667

[2022-01-15 00:54] #646 closed, assigned to loganfsmyth, ryanjduffy, hbenl

[2022-01-17 16:26] hbenl opened #668 "Support Web Components"
We should figure out what is necessary for full Web Component support. I noticed that our elements panel doesn't show all the info that I see in Firefox' Inspector panel for a Web Component and I think that the protocol doesn't include all this info yet.

[2022-01-17 17:12] jasonLaster commented on #668
Good call - lets create an elements panel limitations issue that we can link these to.

Pseudo elements are probably another. Iframes...

[2022-01-18 21:52] gideonred opened #676 "mach bootstrap failling to create virtualenv and failing to "find artifacts for a toolchain build named `rustc-dist-toolchain`"."
Attached is my entire output:
[out.txt](https://github.com/RecordReplay/gecko-dev/files/7892586/out.txt)

I'm trying to build Replay's gecko dev on an M1 Mac.

Instructions state that I should check I have python v2.7, which I do:

[code]

During bootstrap I'm seeing two types of problems:
- Exception: Error populating virtualenv. : For the life of me I can't figure out why `create-mach-environmen

[2022-01-19 20:07] #616 closed, assigned to nobody

[2022-01-19 20:47] #666 closed, assigned to gideonred

[2022-01-19 21:07] bhackett1024 commented on #621
I'm getting annoyed at seeing these failures show up randomly, and we don't have any way to fix them.  We should use our own logic to do these merges.

[2022-01-19 22:39] bhackett1024 commented on #621
Ugh, never mind.  This is annoying but not as annoying as figuring out how to do this myself in a github action.

[2022-01-19 23:25] bhackett1024 commented on #621
I think I do need to take this on, because we'll need to do something similar for https://github.com/RecordReplay/backend/issues/4279 and we should use similar techniques.

Looking at the code for the unreliable action we're using currently (https://github.com/devmasx/merge-branch/blob/master/lib/index.rb), it's a simple wrapper around OctoKit, which is a github-provided set of libraries.  The bad

[2022-01-20 00:21] loganfsmyth commented on #585
<img width="964" alt="Screenshot 2022-01-19 161759" src="https://user-images.githubusercontent.com/132260/150239596-b05f2080-17d2-4f03-91ed-3caa4919b78e.png">

[2022-01-20 02:58] jonbell-lot23 opened #680 "Acrobat message in Replay Browser is confusing"
![](https://cdn.discordapp.com/attachments/869029659751350293/933547125730582538/unknown.png)

[2022-01-20 16:26] #621 closed, assigned to bhackett1024

[2022-01-20 17:24] jasonLaster commented on #547
Closing this as a dupe of https://github.com/RecordReplay/backend/issues/4200

[2022-01-20 17:24] #547 closed, assigned to ryanjduffy

[2022-01-24 11:15] hbenl commented on #644
I couldn't reproduce this in new recordings anymore, perhaps it was fixed by the ESR rebase.

[2022-01-24 11:15] #644 closed, assigned to nobody

[2022-01-25 19:03] jaril opened #825 "Additional response bodies"
We should get response bodies for images, html, and other simple data types.

- [x] https://github.com/RecordReplay/gecko-dev/pull/820
- [ ] https://github.com/RecordReplay/gecko-dev/issues/824
- [ ] https://github.com/RecordReplay/gecko-dev/issues/823
- [ ] https://github.com/RecordReplay/gecko-dev/issues/822

(Created from the [Replay Roadmap Airtable](https://airtable.com/appSzSiRS6UdFlXKj/tblp

[2022-01-25 22:56] jcmorrow opened #690 "`OPTIONS` Requests never seem to have `request-done` events"
This at least happens for GraphQL requests on the devtools front-end. E.g. https://app.replay.io/recording/comment-wrong-date--70712306-d9ad-47f9-9bb5-565f73ce56d9. This is easiest to see if you add a print statement around line 146 of `src/ui/components/NetworkMonitor/utils.ts`.

[2022-01-26 16:28] hbenl opened #692 "Stacking: apply pointer-events to all iframe children"
When an iframe has the CSS property `pointer-events: none`, the iframe's entire content doesn't receive pointer events, but our stacking algorithm currently doesn't apply the iframe's pointer-events property to its children.

[2022-01-26 16:33] hbenl opened #693 "Stacking: iframes never overflow"
The document inside an iframe never overflows the iframe, even if the iframe's overflow CSS property is set to visible.

[2022-01-26 16:38] jasonLaster commented on #693
@hbenl can you add some more context?

[2022-01-26 16:40] hbenl opened #694 "Stacking: text nodes"
Our stacking algorithm currently only looks at element nodes, but if a text node's bounds are larger than the bounds of its container node, mouse events in the overflowing text area are still sent to the container node, even though they are outside the bounds of that node.

[2022-01-26 16:45] hbenl commented on #693
@jasonLaster Our stacking algorithm currently lets you select an element in an iframe even if the element is completely invisible because it is positioned outside of the iframe's bounds.

[2022-01-26 18:57] jonbell-lot23 opened #695 "Update icon should be Replay fuchsia rather than Firefox mint"
Current experience:
<img width="333" alt="image" src="https://user-images.githubusercontent.com/9154902/151227974-9db38713-77b1-4fdb-9523-3525ea1bae97.png">

Both of those mint green colours should be Replay fuchsia: #F02D5E

[2022-01-26 19:37] loganfsmyth opened #696 "Request bodies not tracked for <form> POST requests"

[2022-01-26 22:10] jasonLaster commented on #695
@jonbell-lot23 it'd be nice to design a more obvious update button. Perhaps similar to our current warning bars which appear between the page and the url bar?

[2022-01-27 01:42] jonbell-lot23 commented on #695
Good point @jasonLaster -- hey @ryanjduffy do you happen to recall where that ticket went? I can't find it, and I can't find it in Figma because it's been archived.

Note to self: when I find that design again, I need to make it part of the official Figma design system.

[2022-01-27 15:44] hbenl opened #698 "Stacking: ignore option elements"
`<option>` elements have a bounding client rect even when they're not shown, our stacking context algorithm should ignore them.

[2022-01-27 15:46] hbenl opened #699 "Stacking: pseudo elements (:before/:after)"
Our stacking context algorithm doesn't support pseudo elements yet.

[2022-01-27 15:46] hbenl opened #700 "Stacking: CSS clip property"
Our stacking context algorithm doesn't support the `clip` CSS property yet.

[2022-01-27 16:55] ryanjduffy commented on #695
@jonbell-lot23 see https://github.com/RecordReplay/gecko-dev/issues/523

[2022-01-27 18:15] ryanjduffy commented on #556
@kannanvijayan Here's a honeycomb query for the relevant durations:

https://ui.honeycomb.io/replay/datasets/backend/result/n4HtVhAojFx

The time from clicking stop to finishing is actually pretty consistent but the starting times vary a lot for periods and then stabilize. This'll be a fun one!

[2022-01-27 21:10] kannanvijayan commented on #556
I'm not sure how to interpret the categories.  What are the various groupings here?

Is the time from "clicking stop" to "finishing" equivalent to the time it takes for the user to see the new tab after clicking "stop"?

What start times are being plotted there?

[2022-01-27 21:27] ryanjduffy commented on #556
They should be measuring the time between the "STOPPING" state (when the user clicks the button) and when it's saved. But, looking at the code it seems like it's tracking from STOPPING to "finished" instead of "saved".

There's this line of invalid code which is calculating the `duration` but then throwing it into the aether because that method doesn't support a third argument.

[code]

There shou

[2022-01-28 17:52] jasonLaster opened #702 "Disable recording while also profiling"
It's possible for a user to be both profiling and recording. We should find a way to disable that use case and then message to the user.

[2022-01-28 22:33] bhackett1024 opened #706 "Support media encoding"
Encoding media while recording (e.g. recording the current tab) isn't supported.

[2022-02-01 17:14] kannanvijayan opened #713 "Support runToPoint with paints-collection only"
Add a specific flag (e.g. `getPaintsData`), different from `getResumeData` on `runToPoint` messages to tell the runtime to run collecting paints only.

[2022-02-01 20:31] jonbell-lot23 opened #714 "Add "Replay needs to be updated" banner"
This is what we show when Replay Browser needs to be updated:
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/9154902/152045988-dc24b14e-c1ef-4cd9-9516-a0a0b8e8dc8e.png">

Let's use the same component when Replay needs to be updated, with this copy:

* Replay needs to update [Update now]
* And I think we should remove the ability to close the component. It should stay

[2022-02-01 20:31] jonbell-lot23 commented on #695
I made a new ticket for the banner idea: https://github.com/RecordReplay/gecko-dev/issues/714

[2022-02-03 15:23] hbenl opened #716 "Support react devtools in playwright"
Currently recordings made with our gecko/playwright browser don't contain the react devtools backend.

[2022-02-03 15:31] hbenl opened #717 "Some playwright recordings don't contain sourcemaps"
It is possible to create gecko/playwright recordings containing sourcemaps if the recording is uploaded directly (instead of saved to disk and uploaded later), see #435. But I've noticed when creating example recordings for our e2e tests that these recordings are sometimes stuck on "Uploading sourcemaps" and sometimes don't contain sourcemaps at all.
I was able to work around that by adding a 1 se

[2022-02-03 17:34] kannanvijayan opened #718 "Reduce crash rate across replay users"
Goal : Fix 3 gecko crashes

[2022-02-07 15:26] hbenl opened #719 "Playwright in direct upload mode creates multiple recordings"
In RecordReplay/devtools#5217 I'm trying to record our e2e test examples with playwright uploading the recording data directly (by setting the `RECORD_REPLAY_SERVER` env variable, see #435). The logs of the CI test runs for that PR show that playwright is creating multiple recordings when recording an example. Most of them seem to be unusable.

[2022-02-07 15:30] bhackett1024 commented on #719
We record all content processes when using playwright, but firefox creates multiple pre-loaded processes which no content is ever loaded into.  These are fine to ignore as long as we can determine the recording which we're actually interested in.  The replay-recordings npm module / CLI tool is good for this as it will show the loaded-url metadata for each recording which has been created.  I think

[2022-02-07 15:50] hbenl commented on #719
OK, so this is expected behaviour. It doesn't create any problems because playwright will only write out the recordingId of the recording that we're interested in (this is in direct upload mode where the recordingId is written to a file).
I was just investigating why some of the example recordings made in this way are unusable and thought this may be related.

[2022-02-07 15:50] #719 closed, assigned to nobody

[2022-02-08 21:29] ceceliacreates commented on #54
A user asked about this, they have autoplaying MP4s and Replay is unable to record.

[2022-02-09 23:45] loganfsmyth opened #725 "Sometimes no 'response' or 'response-done' network events are emitted even though the response has data"
See https://github.com/RecordReplay/customer-support/issues/25 for more details.

[2022-02-10 11:37] hbenl opened #726 "Playwright fails to record our CRA example in CI"
Our e2e tests contain a simple example app made with [create-react-app](https://create-react-app.dev/). All my attempts to create a recording of this app in CI failed consistently. I tried running playwright on MacOS and on Linux, in record-to-disk and record-to-cloud mode, I increased the timeout for the "ExampleFinished" log message from 30 seconds to 2 minutes, but none of that seemed to make a

[2022-02-14 18:54] ceceliacreates commented on #58
Adding a +1 here, received an email from a user that ran into this issue.

[2022-02-14 18:55] ceceliacreates commented on #54
Adding a +1 here, received another email from a user that ran into this issue.

[2022-02-16 15:35] kannanvijayan opened #733 "Don't record time-api usage in ~AutoProfilerTextMarker"
See https://github.com/RecordReplay/backend/issues/4467#issuecomment-1039535123

And https://github.com/RecordReplay/backend/issues/4639

AutoProfilerTextMarker shows up incidentally in a lot of places where nondeterminism might occur, and causes replay issues due to interfering with the order in which timestamp APIs are called.

Change the marker to not use recorded APIs for fetching time, and al

[2022-02-17 17:01] #733 closed, assigned to kannanvijayan

[2022-02-24 22:14] loganfsmyth opened #738 "Handle revoked proxies when generating object previews"
See https://github.com/RecordReplay/backend/issues/4769 for a specific example of a recording that failed to load because of this.

[2022-03-02 17:55] jasonLaster opened #742 "Excalidraw Node Picker"
The Node Picker misses the UI Controls in Excalidraw

https://www.loom.com/share/585d21537c2040cb82321471fcb6688d

[2022-03-04 16:47] hbenl commented on #742
Could you share the recording? In this recording it works perfectly:
https://app.replay.io/recording/excalidraw--d48efc4d-c018-4d75-8f91-ca1f6d4acc6d

[2022-03-04 21:45] jasonLaster commented on #742
Weird you're right - even this replay at different points work too
https://app.replay.io/recording/excalidraw--b6ea6f10-c164-444d-81c2-1c26456318e5?point=29855706939069938886503603311215969&time=11982&hasFrames=true

[2022-03-08 00:38] ryanjduffy commented on #585
Didn't seem to fix it on HDPI screens so reopening for more investigation.

[2022-03-08 15:27] jasonLaster commented on #742
How do you want to prioritize this? I could go either way since it is more limited

[2022-03-08 15:38] hbenl commented on #742
I'd like to work on it as soon as we can reproduce it. But since that's currently not the case I'll take it out of the Sprint.

[2022-03-09 17:25] jcmorrow opened #745 "Getting started with gecko-dev"
I'm just making this issue to document my getting up-and-running experience. If everything goes smoothly there won't be many updates to make, but if I get stuck hopefully this can be a place to gather some additional docs/work to improve the process.

[2022-03-09 17:40] gideonred commented on #745
So I like the ticket, but I'm wondering if we should create tickets like this in a private repo when it doesn't have public open source value.

[2022-03-09 18:13] jcmorrow commented on #745
Yeah, I was wondering where to put this, and I sort of felt like the value of it being colocated with the code was worth it. If it turns into README updates or additional documentation (or just helps other random people get through a gecko-dev build) that seems fine? IDK, happy to have feedback on this!

[2022-03-09 18:35] jcmorrow commented on #745
Summary from Mob Debugging with Dragan, Kannan, Ryan, Jason:

- If you are building on an M1 you will definitely want to follow all of the instructions from a Rosetta terminal,
- If you have partially run `./mach build` and are now stuck, consider blowing away your `mozbuild` directory (`rm -rf ~/.mozbuild`)
- Again, this is an M1 thing, but we saw that `./mach build` tried to install M1 architect

[2022-03-09 18:38] abstractalgo commented on #745
On M1, we had these additional things:

- `rustup default stable-x86_64-apple-darwin`
- `cargo install cbindgen`
- `arch -arm64 brew install nasm`

We ran `./mach bootstrap` from `gecko-dev` and that eventually worked while neither from `mozilla-central` nor `mozilla-unified` (we tried that as well) worked.

[2022-03-09 18:55] abstractalgo commented on #745
The prerequisite for everything was going to MacOS's `Applications` > `Utilities` folder, making a copy of `Terminal` app there and renaming it to `Rosetta Terminal`.

[2022-03-09 20:41] jcmorrow commented on #745
@gideonred I saw that you added this line about `mozilla-central` (https://github.com/RecordReplay/gecko-dev/commit/c05f9c56f6cd27763021f3f6ff66e0e1aa1878d1). In the setup we were doing today that didn't seem needed, do you remember what problem that solved for you? It would be awesome if we could pinpoint when this is or isn't necessary.

[2022-03-09 22:04] gideonred commented on #745
@jcmorrow I added that based on a back and forth between Brian, Logan and Kannan: https://discord.com/channels/779097926135054346/801228428115312671/938567563644915713

If it ended not being needed, let's remove it.

[2022-03-09 23:15] jasonLaster opened #746 "Scrollbars are too wide on windows HDPI"
![Oversized Scrollbars](https://user-images.githubusercontent.com/254562/157555122-a51853fa-000b-4401-bd7c-42d02eb5ec14.png)

[2022-03-10 16:03] kannanvijayan opened #747 "Assert TaskController state in recording"
There are a number of different mismatch crashes where `TaskController::(Do)ExecuteNextTaskOnlyMainThreadInternal` shows up on the stack, and kind of suggestive of the state of `TaskController` diverging.

Asserting the entirety of the state of `TaskController` is cumbersome, but it's worthwhile to either assert a hash of critical internal state from it, or to discover and assert all points of mut

[2022-03-10 16:12] kannanvijayan opened #748 "Assert nsDocShell::ActivenessMaybeChanged"
Coming out of: https://github.com/RecordReplay/backend/issues/4872#issuecomment-1063105626

There's a crash further down the stack in `RasterImage` code, which is invoked from a higher level stack that looks like this:

[code]

It's worthwhile asserting up here that we're working with the same docshell on replay as we had on record.

[2022-03-10 18:00] jcmorrow commented on #745
Ah, gotchya, yeah that would have helped yesterday, I'll add a note about it in the Troubleshooting section:

[code]

[2022-03-11 20:54] #583 closed, assigned to nobody

[2022-03-14 17:12] ryanjduffy opened #751 "Support building Replay for playwright on windows"
* Fix up - https://github.com/RecordReplay/gecko-dev/blob/31160dc009c8765b1423182f83d3c22383802d9f/.github/actions/build-test/main.js#L65
* the windows build machine will also need a ~/recordreplay/gecko-dev-playwright checkout, similar to the mac and linux build machines

[2022-03-15 01:43] jonbell-lot23 opened #752 "Remove Adobe Acrobat install message from Replay"
![image](https://user-images.githubusercontent.com/9154902/158289195-dd8b2578-43a3-4326-8fe1-0484302fd2d6.png)

We know we're based on Firefox, so we understand why we're seeing Acrobat messages. But to a user, this feels like a strange thing to see because Adobe Acrobat has nothing to do with Replay technology. We should suppress or remove this.

[2022-03-15 02:39] jonbell-lot23 opened #753 "Fix Mac download window"
The Mac download window has a gap of white background in the background image:

![image](https://user-images.githubusercontent.com/9154902/158294943-321bbbee-0000-4d47-9c18-e12a48357bf7.png)

We can also update the background image to fit closer to our brand. Stay tuned for that.

[2022-03-15 02:41] jonbell-lot23 opened #754 "Fix glitchy Replay icon on Mac"
<img width="344" alt="image" src="https://user-images.githubusercontent.com/9154902/158295119-cdf9a393-c7f8-4617-bc57-6f942f5b99b2.png">

We've worked on this before but the issue still persists and makes our product look unprofessional.

[2022-03-15 02:42] jonbell-lot23 opened #755 "Change onboarding screens to black backgrounds"
We had a design regression. These background screens shouldn't be white.

![image](https://user-images.githubusercontent.com/9154902/158295330-a0819d60-46c7-4c90-b6d0-4dfc10fcf591.png)

[2022-03-15 20:03] jcmorrow opened #758 "Automatically stay up-to-date with the playwright upstream"
Right now we can only run on `playwright/test@1.18` because playwright has added some new api usage that our fork does not support. We should be more proactive about pulling in upstream changes as long as we are going to direct people to use `playwright/test` with our playwright fork. An interim solution is to add a peerDependency for a particular version of playwright to our `recordReplay/cli` (f

[2022-03-15 20:05] jcmorrow commented on #758
For context, it's the jump from FF 96 -> 97 that causes playwright 1.20 to break

[2022-03-16 15:54] hbenl opened #759 "Include sourcemaps when recording to disk"

[2022-03-16 20:27] #745 closed, assigned to jcmorrow

[2022-03-21 16:10] kannanvijayan opened #764 "Add binding for PathRemoveFileSpecW"
From issue https://github.com/RecordReplay/backend/issues/5010

[2022-03-21 16:18] kannanvijayan commented on #764
I keep forgetting that driver/linker changes belong in backend.

[2022-03-21 16:18] #764 closed, assigned to kannanvijayan

[2022-03-23 01:36] jonbell-lot23 commented on #755
Sprint notes: this is waiting on @jaril because we need to update our onboarding login screen.

See https://github.com/RecordReplay/devtools/issues/5785

[2022-03-23 23:59] #748 closed, assigned to kannanvijayan

[2022-03-24 13:50] ryanjduffy opened #795 "Devtools still thinks it is authenticated in Replay browser"

[2022-03-24 13:52] ryanjduffy commented on #795
I think the code to sync the auth state from the Replay browser is only run from the library so it's possible for the devtools view to get confused.

[2022-03-24 21:25] kannanvijayan commented on #702
Bumping this and prioritizing it.

I saw another couple crashes occurring _today_ with basically the same stack signature, in a different recording by a different user.  Speaking with the user, he confirmed that he didn't explicitly enable profiling during the recording, so this seems to be some side-path via which profiling can get enabled.

We should simply disable profiling entirely on our brow

[2022-03-24 21:31] jasonLaster commented on #702
@kannanvijayan if it's alright - we should also condition it on currently recording. It is fine to use the profiler or devtools if you're not recording.

[2022-03-24 23:36] kannanvijayan commented on #702
Benoit brought up the fact that the profiling can be turned on _before_ recording is started.  However, it may be the case that this doesn't matter because we kick off a new content process for recording anyway, which shouldn't start with profiling enabled, but I don't know enough about the implementation to be sure of that.

I think your suggestion works fine, so I'll go with that, but we may nee

[2022-03-24 23:47] jasonLaster commented on #702
I like your change!

[2022-03-24 23:59] jonbell-lot23 commented on #755
We're punting on this. It's too complex and not important enough to fix right now.

[2022-03-24 23:59] #755 closed, assigned to jonbell-lot23

[2022-03-25 16:47] #702 closed, assigned to kannanvijayan

[2022-03-25 17:49] kannanvijayan opened #773 "Assert `this` in DecodeSurfaceProvider::Run"
See loom https://www.loom.com/share/4b6ca4a4a46d48ecb964c622d31fcb96

The last common point of execution seems to be within `DecodedSurfaceProvider::Run` method, which calls into `DecodedSurfaceProvider::FinishDecoding`.  Let's replay-assert that we're working with the same underlying object.

Narrows [backend#823](https://github.com/RecordReplay/backend/issues/823)

[code]

[2022-03-25 17:59] kannanvijayan opened #774 "Assert `this` in PresShell::SetIsActive"
See https://www.loom.com/share/d302c1ad72cb49f983cddb98f633ec31

This touches on the TaskController state assertion issue https://github.com/RecordReplay/gecko-dev/issues/747

However, an easy assert here is `PresShell::SetIsActive`, ensuring that the underlying `PresShell` object is the same between recording and replay.

This is a narrowing of existing issue https://github.com/RecordReplay/backe

[2022-03-25 18:07] jasonLaster commented on #773
I feel like you were just getting to the good stuff with `finishDecoding`. Would love a part 2 where we look at where to place the asserts.

[2022-03-25 18:17] kannanvijayan opened #775 "Improve asserts in `MessageChanel::Send`, and `PortLink::SendMessage`"
See loom recording: https://www.loom.com/share/ef972cfc27994444a2dca679d3ace567

This particular crash is a mismatch on  an ordered lock (different locks being acquired during replay vs recording).  However, there are existing asserts all around this code and for some reason they're hitting.

I noticed that we're not asserting `this` in either of those methods, nor do we have any asserts in `Messa

[2022-03-28 20:17] kannanvijayan opened #777 "Containerize a stateless build of gecko-dev on macOS"
In pursuit of a more modular build/test system for the browser, let's start by implementing a stateless containerized build of gecko-dev on macOS.

Deliverables:

1. Dockerfile that can build a parameter-specified revision/branch from scratch
2. A shell script that invokes said Dockerfile, accepting the revision/branch as a command-line parameter
  - Script can assume that an employee with the cor

[2022-03-29 09:51] #759 closed, assigned to hbenl

[2022-03-30 03:54] #774 closed, assigned to kannanvijayan

[2022-03-30 04:01] #773 closed, assigned to kannanvijayan

[2022-03-30 13:22] hbenl opened #782 "Playwright browser doesn't send telemetry"
Our Playwright/Firefox browser doesn't send telemetry events because the `replay.telemetry.url` and `replay.telemetry.enabled` prefs are missing: they are set in the `firefox-branding.js` file that isn't loaded by the Playwright browser.
This causes more issues than just missing telemetry: `pingTelemetry()` *throws* when it tries to read the prefs. I've noticed this because Playwright currently do

[2022-03-30 13:28] #775 closed, assigned to kannanvijayan

[2022-03-31 21:53] ryanjduffy commented on #782
@bhackett1024 - Was it intentional to omit the branding from the playwright build? Did it conflict in some way?

If not, I'll update the build to use it and that should resolve this.
If so, we can add that pref in some other way.

WDYT?

[2022-04-01 11:17] bhackett1024 commented on #782
Yes, not having branding on the playwright build is intentional.  A branded build has different path names and a different main executable name which makes it harder / impossible to use with different automation frameworks.  I know that cypress is affected by this, and I think playwright is as well because browser directories are specified rather than paths to the main executable.

[2022-04-01 11:21] bhackett1024 opened #786 "Add JSON files describing the latest version to website downloads"
We have e.g. https://static.replay.io/downloads/linux-recordreplay.json which specifies information about the most recently released recording driver for a platform, but we don't have anything else comparable to describe the build ID of the most recently released browser and other runtimes. Adding JSON files for the different runtimes would be helpful for processes like package updates that need t

[2022-04-01 15:11] ryanjduffy commented on #782
:+1: I think we'll be working around this with the new plugin-based architecture but we're not there yet so I'll stick with no branding.

[2022-04-01 17:15] #782 closed, assigned to ryanjduffy

[2022-04-02 13:22] #786 closed, assigned to nobody

[2022-04-03 02:06] bhackett1024 commented on #786
The build ID for the latest linux release can be found at https://static.replay.io/downloads/linux-replay.json .  We also have similar JSON files for other platforms / runtimes, just replace any suffix for the file with ".json" to get the associated information.

[2022-04-05 17:52] ryanjduffy commented on #795
I _think_ the issue here is that we do not continue to sync the auth state for a particular tab on app.replay.io after the first update. This will require a change to gecko so i'm moving this issue there and will put up a patch soon.

[2022-04-06 17:34] jasonLaster opened #798 "Replay tabs are white in incognito mode"

[2022-04-06 19:22] loganfsmyth opened #799 "Sourcemap upload can fail because it may try to upload the sourcemap before the driver has finished creating the recording"
In https://github.com/RecordReplay/gecko-dev/pull/766 we removed the recordingId callback and made the recordingId known even before the driver itself had tried to create the recording in our backend. The unintended side-effect of that is that now we can process sources on the page before the driver's background thread has finished creating the recording in our backend, which then puts us at risk

[2022-04-06 19:27] loganfsmyth commented on #799
We already have some retry logic for a related case at https://github.com/RecordReplay/gecko-dev/blob/325feec5a90fe52beb3006a07431ef0b0ce652b6/devtools/server/actors/replay/connection.js#L1464 though I think we'll probably want a copy of that function with different delays and different retry counts since it's for a different failure reason and I don't want the recordingId error to eat through all

[2022-04-06 19:29] loganfsmyth commented on #799
The two API commands that could throw this error are https://github.com/RecordReplay/gecko-dev/blob/325feec5a90fe52beb3006a07431ef0b0ce652b6/devtools/server/actors/replay/connection.js#L1128 and https://github.com/RecordReplay/gecko-dev/blob/325feec5a90fe52beb3006a07431ef0b0ce652b6/devtools/server/actors/replay/connection.js#L1203

[2022-04-06 19:30] loganfsmyth commented on #799
and error code `9` is "Invalid recording ID"

[2022-04-07 16:51] #747 closed, assigned to kannanvijayan

[2022-04-10 11:56] jasonLaster opened #805 "Hide Firefox specific message"
We should probably hide Firefox specific messages

<img width="756" alt="Screen Shot 2022-04-10 at 7 54 57 AM" src="https://user-images.githubusercontent.com/254562/162616827-03f4095d-9cc0-4844-b04b-c0c02bb8e213.png">

[2022-04-10 11:59] jasonLaster commented on #805
* String is defined [here](https://cs.github.com/RecordReplay/gecko-dev/blob/e5f3493bfcfffe07ecf9905e2ac42e61f655121d/browser/locales/en-US/browser/newtab/newtab.ftl?q=Your+privacy+matters#L124-L126)
* DNS component is defined [here](https://cs.github.com/RecordReplay/gecko-dev/blob/e5f3493bfcfffe07ecf9905e2ac42e61f655121d/browser/components/newtab/content-src/components/DiscoveryStreamComponents/

[2022-04-11 15:26] jasonLaster opened #806 "Content Scripts"
It would be great if it were possible to debug the content scripts that browser addons inject in the main thread

[2022-04-11 17:15] #799 closed, assigned to ryanjduffy

[2022-04-12 23:33] ryanjduffy commented on #795
- [ ] https://github.com/RecordReplay/devtools/pull/6342
- [ ] https://github.com/RecordReplay/gecko-dev/pull/807

[2022-04-12 23:55] ryanjduffy commented on #795
MacOS build - https://static.replay.io/downloads/macOS-gecko-20220412-94290012f780-9766dd7ea283.dmg
Linux build - https://static.replay.io/downloads/linux-gecko-20220412-94290012f780-9766dd7ea283.tar.bz2
Win build - https://static.replay.io/downloads/windows-gecko-20220412-94290012f780-9766dd7ea283.zip

[2022-04-13 14:38] jaril commented on #825
@jcmorrow still getting around to this this month?

[2022-04-13 17:15] jcmorrow commented on #825
Yeah I expect so 👍

[2022-04-13 17:30] ryanjduffy commented on #795
Walkthrough of the problem and fixed behavior

https://www.loom.com/share/a29f43e9b37147eab9caf664890675d9

[2022-04-13 20:22] ceceliacreates opened #810 "Measure browser application start time"
It would be helpful to understand the time it takes from initiating opening the Replay Browser to the time the user actually is able to use the browser. Sometimes I notice it takes a while, which could contribute to recording friction.

[2022-04-13 20:48] #795 closed, assigned to ryanjduffy

[2022-04-14 18:59] jcmorrow opened #813 "Record Additional Response Bodies"
Right now we record response bodies for XHR and Fetch requests, but we should also capture the responses of other request types.

[2022-04-19 19:29] #805 closed, assigned to ryanjduffy

[2022-04-19 21:33] jcmorrow commented on #725
I don't have access to the original Replay in that customer support issue, but it is possible that this was a request that was going to a service worker, which won't emit `http-on-examine-response`.

[2022-04-19 21:47] jcmorrow opened #821 "Duplicate requests showing up in recordings"
It's pretty easy to generate a duplicate request for things like images. What I've observed: the events will be a few milliseconds apart, the channels will have two different `channelId`s. The first request will have some events and the second will have more.

[code]

Example replay: https://app.replay.io/recording/react-app--0efc0e74-648c-48df-b7a7-2250ff0ed804 (look at the `logo....svg` request)

[2022-04-19 21:49] jcmorrow commented on #821
What I see for event types:

For the first request:

[code]

And for the second:

[code]

[2022-04-19 21:58] loganfsmyth commented on #821
Maybe there's some image preloading logic at play?

[2022-04-19 22:45] jcmorrow commented on #821
Not only is this possible but I now think I might know where that code lives 😈

[2022-04-20 14:42] jaril commented on #825
Added it to next sprint — let me know if that's not the right place for it!

[2022-04-20 17:45] jcmorrow commented on #825
Eh, tbh this should probably be "in progress" until I break it up into smaller cards

[2022-04-21 04:48] jcmorrow opened #822 "Record response bodies for HTML pages"
It's a little unclear if we don't record *all* HTML requests or just the root document, but the root document is the one that is most obviously missing

[2022-04-21 04:50] jcmorrow opened #823 "Record response bodies for `<script>` elements"
It's funny that we don't have this because obviously they end up recorded in sources, but these are another set of requests that we just don't record responses for yet.

[2022-04-21 04:51] jcmorrow opened #824 "Record `<link>` tag requests response bodies"
This is probably a low-priority one, but ideally we should record response bodies for things like stylesheets, etc.

[2022-04-21 04:52] jcmorrow commented on #813
This is vague, I've made three new cards for more specific items:

- [ ] #822
- [ ] #824
- [ ] #823

[2022-04-21 04:52] #813 closed, assigned to jcmorrow

[2022-04-21 14:35] bvaughn commented on #444
FWIW I'm seeing this consistently and so is someone I shared a Replay with on Twitter (who then installed gecko for the first time).

[2022-04-21 14:58] gideonred commented on #444
In case this helps, in the section "App Icon Attributes" of this link: https://developer.apple.com/design/human-interface-guidelines/macos/icons-and-images/app-icon/ it goes into the technical details of what the icon should be using.

[2022-04-21 15:18] gideonred commented on #444
In the above tech doc they ask that we do not use icns files. Seems like we do:
![Screen Shot 2022-04-21 at 11 18 04 AM](https://user-images.githubusercontent.com/28845582/164490762-a4b81bb4-4970-4f82-8f1b-21679e206177.png)

[2022-04-24 21:55] jasonLaster commented on #754
@gideonred could you share your findings on `icns` not being supported?

Also tentatively assigned this one to you for next sprint. Feel free to change the iteration or assignee.

[2022-04-25 15:22] gideonred commented on #754
Closing this as a duplicate of https://github.com/RecordReplay/gecko-dev/issues/444, which has more info and is currently assigned to Ryan.

[2022-04-25 15:22] #754 closed, assigned to gideonred

[2022-04-26 16:46] kannanvijayan opened #828 "Assert stack during Task construction"
Many of the mismatch crashes we encounter have a stack trace that shows a divergence in the `TaskController` code within gecko-dev.

I've added a couple of asserts tracking the order of task creation and task execution here:
https://github.com/RecordReplay/gecko-dev/pull/827
https://github.com/RecordReplay/gecko-dev/pull/800

However, these asserts don't necessarily capture the assertions we want.

[2022-04-26 18:54] kannanvijayan opened #830 "Make `VisibleFrames` a stable hash-table"
Should fix the RasterImage::LookupFrame mismatch issue.  See comment here (and following response):

https://github.com/RecordReplay/backend/issues/4719#issuecomment-1110122946

[2022-04-27 13:19] hbenl commented on #726
I'm also getting timeouts waiting for the "ExampleFinished" message for our `doc_rr_error.html` example.

[2022-04-27 16:33] ryanjduffy opened #832 "Can't launch ext auth from linux"

[2022-04-28 17:00] gideonred commented on #726
@hbenl could you pick this up?

[2022-04-28 19:27] #714 closed, assigned to ryanjduffy

[2022-04-28 19:29] ryanjduffy commented on #444
Oddly, when i create a new MacOS app in Xcode and drag icons into it, the output is an ICNS file ...

https://developer.apple.com/documentation/xcode/configuring-your-app-icon

[2022-04-28 19:29] ryanjduffy commented on #444
Going to try creating a fresh ICNS file with XCode with all the various sizes and see if that does the trick

[2022-04-28 19:53] jonbell-lot23 commented on #714
🎉

[2022-04-28 20:47] jasonLaster commented on #746
@bhackett1024 do you have any idea where we could look for the bug here? This feels like a straight forward fix if we know where to look.

[2022-04-28 21:01] bhackett1024 commented on #746
I don't have a good idea, but it should be possible to narrow things down to help figure out what the problem is.  It looks like this happens when not recording, is that the case?  That would exclude a lot of possible changes right there.  Do things work as expected in the ESR build?  If so, do they work in a local build made from the upstream ESR branch?  If things work then, we'd have narrowed t

[2022-04-28 22:57] #444 closed, assigned to ryanjduffy

[2022-04-29 18:10] jcmorrow opened #837 "Opening the Print Dialog cannot be replayed"
This does not seem to cause any problems while recording, but we crash when attempting to replay it. Personally, I think it would be reasonable to just disable the print dialog from Replay because that doesn't feel like a feature that people will run into much (if anything they are likely to accidentally bring up the dialog like me and accidentally mess up their recording), but we could also fix i

[2022-04-29 22:28] ryanjduffy commented on #832
Tried this on Ubuntu 20.04 on a linux VM and it launched Firefox successfully when clicking sign in.

[2022-04-29 22:29] ryanjduffy commented on #832
cc: @hbenl ^^^

[2022-05-02 10:12] hbenl commented on #832
Huh, I just tried again and now it works for me too ¯\\\_(ツ)_/¯

[2022-05-02 10:12] #832 closed, assigned to ryanjduffy

[2022-05-03 21:35] ryanjduffy opened #838 "Sourcemap requests that return a non-200 response code should be discarded"
If the source map fetcher doesn't receive a valid response, we're still uploading the content as the sourcemap when it is likely empry or an HTML error page.

[2022-05-04 23:32] #838 closed, assigned to ryanjduffy

[2022-05-05 14:42] bhackett1024 opened #843 "Redux devtools annotations not being generated"
The latest gecko-dev release isn't generating redux devtools annotations.  I tried looking into this, but after building the browser locally I wasn't able to get it to generate annotations either.  I was loading the library view at https://app.replay.io, which I understand should be able to attach to the redux devtools backend and generate these annotations.

I applied this [patch](https://gist.gi

[2022-05-05 14:53] gideonred commented on #843
cc @markerikson

[2022-05-05 16:38] hbenl commented on #716
Currently we only add the react devtools backend to the *first* global (i.e. window) object:
https://github.com/RecordReplay/gecko-dev/blob/4a46d8d2767e9043b4c94224d8c591ce464bfaf7/devtools/server/actors/replay/module.js#L469-L474
In our regular browser, the first global is the window object of the page to be recorded, but when recording with playwright, it is the window object of an `about:blank`

[2022-05-06 18:37] #830 closed, assigned to kannanvijayan

[2022-05-06 21:05] markerikson commented on #843
Mmm... I don't think this was a valid test, actually.

We _do_ create the initial Redux store in our `<App>` component, which should indeed be rendered on the library page.

However, I have the store configured to only connect to the Redux DevTools in dev builds, so you wouldn't see it in the prod app.

I've been using two CodeSandboxes as my sample pages:

- Redux: https://un8my.csb.app/
- Jotai:

[2022-05-06 21:30] bhackett1024 commented on #843
OK, thanks.  Testing on https://un8my.csb.app/, I now see redux devtools annotations being generated in both my local build *and* the latest released build.

[code]

[2022-05-06 21:33] markerikson commented on #843
Well, _that_ seems like a good sign...

Let me just try pulling down the latest prod build and make a new recording and see what happens?

[2022-05-06 21:36] bhackett1024 commented on #843
Sure, note though that I didn't try to use the redux devtools, but if you are able to log the annotation output above to a file then you'll see directly what annotations are being added to the new recording.  In the past, on windows I've had to pipe the browser output to a file first though in order to see it.

[2022-05-08 04:16] markerikson commented on #843
Update:

**IT LOOKS LIKE THIS ALL WORKS!**

We have confirmation of it working on Jason's Mac, and on my Windows machine _with a freshly downloaded browser_.  Where I was particularly seeing nothing happening was when I did the recordings with an in-place upgrade of an existing Replay browser folder on Windows.  (Yes, I did actually stop and start that browser. Multiple times.)

So, not sure what'

[2022-05-09 16:47] bhackett1024 commented on #716
That sounds good to me, I actually just ran into this while working on https://github.com/RecordReplay/gecko-dev/pull/844 and just added the backend to all globals, but if there's a more appropriate filter that would be better to do.  I don't know why we only add it to the first global.  One thought is that the frontend might not be able to reliably distinguish backend messages coming from differe

[2022-05-10 12:00] bhackett1024 commented on #716
I backed out the associated changes from #844 (which I didn't really intend to land as part of that PR) so that we can focus on developing the right fix for this problem here.

[2022-05-11 14:12] #716 closed, assigned to hbenl

[2022-05-16 17:48] markerikson opened #849 "Replay breaks app behavior while recording a CodeSandbox that uses a mock service worker for a request"
Trying to do some test recordings using the "Redux Essentials" final CodeSandbox example app at https://qywxv.csb.app/ .

The app loads fine in FF normally, but when I hit "Record" and the page refreshes, the app fails to load.  If I make sure FF's DevTools are open first, I see these error messages in the console:

[code]

![image](https://user-images.githubusercontent.com/1128784/168652522-c51c6

[2022-05-16 18:55] bhackett1024 commented on #849
Could this be related to the operations we do to record network requests / service worker behavior, similar to https://github.com/RecordReplay/customer-support/issues/63 ?  cc @loganfsmyth @jcmorrow

[2022-05-16 21:24] loganfsmyth commented on #849
That could certainly be, we'll have to dig in more to be sure.

[2022-05-17 02:14] jasonLaster commented on #849
added this to the May 26th sprint. feel free to change

[2022-05-18 15:26] kannanvijayan commented on #828
Closed by https://github.com/RecordReplay/backend/pull/5613

The final version of that patch ensured that all asserts will include stack-matching, and this will automatically match stacks during Task construction where there's an existing call to RecordReplayAssert.

[2022-05-18 15:26] #828 closed, assigned to kannanvijayan

[2022-05-22 12:44] kannanvijayan commented on #718
I’m closing this roadmap item in favour of more targeted and better defined goals.

This item was originally vaguely specified because the nature of the work and process and workflow were not clear at the beginning.  In the past few months we have:

1. Transferred the process and responsibility of triaging and tracking runtime crashes away from Brian Hackett
  - Identifying crashes that occurred i

[2022-05-22 12:44] #718 closed, assigned to whtf0x, kannanvijayan

[2022-05-24 20:53] kannanvijayan opened #851 "Add asserts in nsRefreshDriver::CreateVsyncRefreshTimer"
See https://github.com/RecordReplay/backend/issues/5734#issuecomment-1136415433

[2022-05-24 22:25] kannanvijayan opened #852 "Add asserts in nsThreadPool::Run and EventQueueInternal<ItemsPerPage>::GetEvent"
See https://github.com/RecordReplay/backend/issues/5737#issuecomment-1136487579

[2022-05-25 18:52] kannanvijayan opened #854 "Delimit profiler_register_thread with AutoPassThroughThreadEvents"
Seeing a few hangs with threads getting locked up waiting for the next `mach_absolute_time` recorded call when registering new threads with the profiler.  This entire path can be removed from the recording and should eliminate the issue.

See https://github.com/RecordReplay/backend/issues/5662#issuecomment-1137716752

[2022-05-26 19:24] jaril commented on #746
@jasonLaster This is in the current sprint. What's the next steps here?

I want to get @markerikson's eyes on it, but that's only because he mains windows. It's an edge case setting(high dpi) that's not affecting the core debugging experience, so I'm inclined to move it out of this sprint and into the backlog.

Let me know what you think!

[2022-05-26 19:27] markerikson commented on #746
I'm not on HiDPI myself on _this machine, so I haven't seen it.  Icebox this.

[2022-05-26 19:32] kannanvijayan opened #855 "Sanitize `GetConsoleMessageData` within `OnConsoleMessage` handler"
See backend comment: https://github.com/RecordReplay/backend/issues/5772#issuecomment-1138934270

`GetConsoleMessageData` can end up calling into browser code in a way that eventually causes reflows and new text calculations.  Figure out if that's an expected thing, and if not, fix the behaviour of `GetConsoleMessageData` to only passively query the page data and not cause reflows to happen.

[2022-05-27 15:35] loganfsmyth commented on #849
Disabling all our logic for network request tracking does not appear to fix this, so may be harder to track this down.

From what I can see, the CORS request is failing because when recording, the OPTIONS request has
[code]
but when not recording it is
[code]

Codesandbox does not return `Access-Control-Allow-Origin` in the first case and does in the second, so the first one causes the request to

[2022-05-30 14:52] kannanvijayan opened #856 "Register `WorkerRunnable` instances and assert them in `WorkerPrivate::DoRunLoop`"
See comment https://github.com/RecordReplay/backend/issues/5799#issuecomment-1141245569

[2022-05-31 14:38] ceceliacreates opened #857 "Sign-in requires restart of Replay Browser"
Recorded a Loom video -- Sign in button redirects and I log in, but have to restart the Replay browser for the sign-in to take effect.

https://www.loom.com/share/300e8238db2e431fb513725d59510453

Build macOS-gecko-20220520-08e1183a3e90-c9526a9aeeb2 (64-bit)

[2022-05-31 16:30] gideonred commented on #849
Deprioritization this at the moment since it seems to happen not very often.

[2022-05-31 16:34] jasonLaster commented on #849
Added a P3 label so that we can surface low-priority issues.

[2022-05-31 21:20] jonbell-lot23 opened #859 "Our Settings Import feature is broken"
Here's a Loom of it failing: https://www.loom.com/share/c35b867ed4ee4fd29d9a645634b91cf4

Here's what I see in the console:
<img width="777" alt="image" src="https://user-images.githubusercontent.com/9154902/171286404-22519233-ace1-45c7-879a-e0455517819f.png">

[2022-05-31 21:34] ryanjduffy commented on #859
Fixed by https://github.com/RecordReplay/devtools/pull/7005

[2022-05-31 21:34] #859 closed, assigned to nobody

[2022-05-31 21:45] loganfsmyth commented on #857
cc @ryanjduffy

[2022-05-31 22:09] ryanjduffy commented on #857
I just had this happen too. I made the mistake of "fixing" it by logging out of app.replay.io and now it won't repro for me :/

[2022-05-31 23:23] jonbell-lot23 commented on #752
Re-upping this item. This is pretty much the first thing a user sees on their Replay journey and it's confusing/unprofessional. We should prioritise suppressing it.

[2022-06-01 03:33] jasonLaster opened #861 "[pinterest] Portions of the screen are painted black"
When I record the homepage of pinterest.com and a product page i see black graphics on the screen.

* https://app.replay.io/recording/2824-pinterest--80166673-ec7d-47d9-a87f-7f392e3763a3?point=4543259751219680498791002421593314&time=1593&hasFrames=false#

* https://app.replay.io/recording/2824-pinterest--e3ae14cd-c518-4fe8-8780-aa2d2be1fadb?point=18822076120432477870284359484837560&time=7393&hasFr

[2022-06-01 03:35] jasonLaster commented on #861
https://www.loom.com/share/d5188ef8bfae468e93e34bfec01635bf

[2022-06-01 14:38] jcmorrow commented on #821
I'm kicking this further down the road. It would be a nice thing to fix, but it does not feel more important than things like https://github.com/RecordReplay/backend/issues/5788 or https://github.com/RecordReplay/backend/issues/5804

[2022-06-01 15:22] #852 closed, assigned to kannanvijayan

[2022-06-01 15:47] gideonred commented on #752
I've placed this in "To Discuss" for next sprint. That'll make sure we chat about it.

[2022-06-01 18:14] #851 closed, assigned to kannanvijayan

[2022-06-01 21:42] #854 closed, assigned to kannanvijayan

[2022-06-01 22:12] #856 closed, assigned to kannanvijayan

[2022-06-02 20:04] gideonred commented on #752
How to reset a Replay browser to reproduce this:

1: delete the Replay browser from /Applications
2: Go to ~/Library/Application Support/ and delete the Replay directory
3: Re-download

[2022-06-02 20:08] gideonred commented on #752
Mmm... I'm not seeing this behavior after resetting my browser.

[2022-06-02 20:12] jonbell-lot23 commented on #752
Bummer. I guess the next step is finding where in our gecko-dev code we trigger this? Let me know if I can help, my browser does show the behaviour.

[2022-06-02 20:14] gideonred commented on #752
I just volunteered my wife's macbook which has never had Replay on it and after installing it, it did not show the Adobe thing.

[2022-06-02 20:14] gideonred commented on #752
Interesting, let me see what I can see.

[2022-06-02 20:31] gideonred commented on #752
I can see why Jon currently has this notification, in his `Profiles/a7bkpjpc.dev-edition-default/extensions.json` file the Adobe Acrobat extensions is listed with `"seen": false`.

Based on my testing it seems we have stopped installing this extension so new users wont run into it. Older users who haven't dismissed the notification, will keep seeing it.

Because new users won't see it, I believe t

[2022-06-02 20:31] #752 closed, assigned to gideonred

[2022-06-02 21:43] jasonLaster opened #866 "Playwright tests should include a last screen"
We are currently writing the sourcemaps and recording to disk, but we're not writing the last screen to disk or metadata so it is lost

[2022-06-02 21:45] bhackett1024 commented on #866
Can we just extract the last screen from the recording itself via the protocol?

[2022-06-02 21:46] ryanjduffy commented on #866
That's where my head went as well

[2022-06-05 22:05] ceceliacreates commented on #857
Created a Loom of this error: https://www.loom.com/share/2ac7af6ab0cc4ec79cee90acdba0740a

As @hbenl mentioned in Discord, it does look like the browser is holding on to an expired token.

[2022-06-05 22:17] ceceliacreates opened #868 "Improve certificate import experience"
Some users experience issues with Replay due to a lack of SSL/root certificates (my understanding in this area isn't great so my terminology may be off) in the Replay browser. This occurs in a VPN or secure work environment. One suggestion was to automatically use the root certificate from the existing browser data on the machine, or to improve the prompts to import certificates from other browser

[2022-06-06 14:30] gideonred commented on #868
I remember helping at least one customer in this area.

The issue is that users create self signed/custom certificates with their own unofficial CA's. Our browser then needs to be made aware of these CA's. At the moment we do what Firefox does, which is: Ignores any unofficial CA's and only uses a trusted authority for CA's.

It would be interesting to see if Firefox imports unofficial CA's from C

[2022-06-06 14:31] gideonred commented on #868
A VPN itself should not be a cause of any issues. I recall a user did initialy report an issue with VPN, but I believe the root cause was because of the use of unofficial CA's.

[2022-06-07 00:20] ceceliacreates opened #869 "Prefer login over API key when recording manually and not via CLI"
Generated from https://github.com/replayio/customer-support/issues/123

Currently, if an API key is set via environment variable RECORD_REPLAY_API_KEY, recording in the Replay Browser will use this API key instead of the logged in user information.

Suggested fix:

change hasOriginalApiKey() and getOriginalApiKey() so that they only return the environment API key if RECORD_ALL_CONTENT is set.

[2022-06-07 00:32] ceceliacreates commented on #868
Yeah, I may not be describing it correctly. They mentioned being on a VPN but I agree the main issue is the certificates. The customer suggested that there was already a root certificate installed on the existing Firefox browser, and that either importing those certificates or using the existing file could be a solution. I'm sure Lenz could provide more details on what his workaround and fix was i

[2022-06-08 17:23] jasonLaster opened #872 "Cannot record react-devtools shell"
This replay does not load the app below
https://app.replay.io/recording/react-devtools--fcc2fa4b-0483-4bb8-9eb8-4d71baa1ba32

STR: follow the steps to run react-devtools-shell and react-devtools-inline locally

NOTE:

It should look like this
<img width="1512" alt="Screen Shot 2022-06-07 at 5 44 37 PM" src="https://user-images.githubusercontent.com/254562/172679179-c21278b7-fdc7-4aec-8de1-fd3bb4c8

[2022-06-08 17:29] bvaughn commented on #872
Those screenshots look _exactly_ the same to me. What am I missing?

[2022-06-09 19:21] gideonred commented on #872
This ticket has been moved to [RUN-300](https://linear.app/replay/issue/RUN-300/cannot-record-react-devtools-shell)

[2022-06-09 19:22] gideonred commented on #869
This ticket has been moved to [RUN-299](https://linear.app/replay/issue/RUN-299/prefer-login-over-api-key-when-recording-manually-and-not-via-cli)

[2022-06-09 19:22] gideonred commented on #868
This ticket has been moved to [RUN-298](https://linear.app/replay/issue/RUN-298/improve-certificate-import-experience)

[2022-06-09 19:22] gideonred commented on #866
This ticket has been moved to [RUN-297](https://linear.app/replay/issue/RUN-297/playwright-tests-should-include-a-last-screen)

[2022-06-09 19:22] gideonred commented on #861
This ticket has been moved to [RUN-296](https://linear.app/replay/issue/RUN-296/[pinterest]-portions-of-the-screen-are-painted-black)

[2022-06-09 19:22] gideonred commented on #857
This ticket has been moved to [RUN-295](https://linear.app/replay/issue/RUN-295/sign-in-requires-restart-of-replay-browser)

[2022-06-09 19:22] gideonred commented on #855
This ticket has been moved to [RUN-294](https://linear.app/replay/issue/RUN-294/sanitize-getconsolemessagedata-within-onconsolemessage-handler)

[2022-06-09 19:23] gideonred commented on #849
This ticket has been moved to [RUN-293](https://linear.app/replay/issue/RUN-293/replay-breaks-app-behavior-while-recording-a-codesandbox-that-uses-a)

[2022-06-09 19:23] gideonred commented on #843
This ticket has been moved to [RUN-292](https://linear.app/replay/issue/RUN-292/redux-devtools-annotations-not-being-generated)

[2022-06-09 19:24] gideonred commented on #837
This ticket has been moved to [RUN-291](https://linear.app/replay/issue/RUN-291/opening-the-print-dialog-cannot-be-replayed)

[2022-06-09 19:24] gideonred commented on #824
This ticket has been moved to [RUN-289](https://linear.app/replay/issue/RUN-289/record-link-tag-requests-response-bodies)

[2022-06-09 19:24] gideonred commented on #823
This ticket has been moved to [RUN-288](https://linear.app/replay/issue/RUN-288/record-response-bodies-for-script-elements)

[2022-06-09 19:24] gideonred commented on #822
This ticket has been moved to [RUN-287](https://linear.app/replay/issue/RUN-287/record-response-bodies-for-html-pages)

[2022-06-09 19:24] gideonred commented on #821
This ticket has been moved to [RUN-286](https://linear.app/replay/issue/RUN-286/duplicate-requests-showing-up-in-recordings)

[2022-06-09 19:24] gideonred commented on #810
This ticket has been moved to [RUN-285](https://linear.app/replay/issue/RUN-285/measure-browser-application-start-time)

[2022-06-09 19:24] gideonred commented on #806
This ticket has been moved to [RUN-284](https://linear.app/replay/issue/RUN-284/content-scripts)

[2022-06-09 19:24] gideonred commented on #798
This ticket has been moved to [RUN-283](https://linear.app/replay/issue/RUN-283/replay-tabs-are-white-in-incognito-mode)

[2022-06-09 19:25] gideonred commented on #777
This ticket has been moved to [RUN-282](https://linear.app/replay/issue/RUN-282/containerize-a-stateless-build-of-gecko-dev-on-macos)

[2022-06-09 19:25] gideonred commented on #758
This ticket has been moved to [RUN-281](https://linear.app/replay/issue/RUN-281/automatically-stay-up-to-date-with-the-playwright-upstream)

[2022-06-09 19:25] gideonred commented on #753
This ticket has been moved to [RUN-280](https://linear.app/replay/issue/RUN-280/fix-mac-download-window)

[2022-06-09 19:25] gideonred commented on #751
This ticket has been moved to [RUN-279](https://linear.app/replay/issue/RUN-279/support-building-replay-for-playwright-on-windows)

[2022-06-09 19:25] gideonred commented on #746
This ticket has been moved to [RUN-278](https://linear.app/replay/issue/RUN-278/scrollbars-are-too-wide-on-windows-hdpi)

[2022-06-09 19:25] gideonred commented on #742
This ticket has been moved to [RUN-277](https://linear.app/replay/issue/RUN-277/excalidraw-node-picker)

[2022-06-09 19:25] gideonred commented on #738
This ticket has been moved to [RUN-276](https://linear.app/replay/issue/RUN-276/handle-revoked-proxies-when-generating-object-previews)

[2022-06-09 19:25] gideonred commented on #725
This ticket has been moved to [RUN-275](https://linear.app/replay/issue/RUN-275/sometimes-no-response-or-response-done-network-events-are-emitted-even)

[2022-06-09 19:25] gideonred commented on #717
This ticket has been moved to [RUN-274](https://linear.app/replay/issue/RUN-274/some-playwright-recordings-dont-contain-sourcemaps)

[2022-06-09 19:26] gideonred commented on #706
This ticket has been moved to [RUN-273](https://linear.app/replay/issue/RUN-273/support-media-encoding)

[2022-06-09 19:26] gideonred commented on #700
This ticket has been moved to [RUN-272](https://linear.app/replay/issue/RUN-272/stacking-css-clip-property)

[2022-06-09 19:26] gideonred commented on #699
This ticket has been moved to [RUN-271](https://linear.app/replay/issue/RUN-271/stacking-pseudo-elements-beforeafter)

[2022-06-09 19:26] gideonred commented on #698
This ticket has been moved to [RUN-270](https://linear.app/replay/issue/RUN-270/stacking-ignore-option-elements)

[2022-06-09 19:26] gideonred commented on #696
This ticket has been moved to [RUN-269](https://linear.app/replay/issue/RUN-269/request-bodies-not-tracked-for-form-post-requests)

[2022-06-09 19:26] gideonred commented on #695
This ticket has been moved to [RUN-268](https://linear.app/replay/issue/RUN-268/update-icon-should-be-replay-fuchsia-rather-than-firefox-mint)

[2022-06-09 19:26] gideonred commented on #694
This ticket has been moved to [RUN-267](https://linear.app/replay/issue/RUN-267/stacking-text-nodes)

[2022-06-09 19:26] gideonred commented on #693
This ticket has been moved to [RUN-266](https://linear.app/replay/issue/RUN-266/stacking-iframes-never-overflow)

[2022-06-09 19:26] gideonred commented on #692
This ticket has been moved to [RUN-265](https://linear.app/replay/issue/RUN-265/stacking-apply-pointer-events-to-all-iframe-children)

[2022-06-09 19:26] gideonred commented on #690
This ticket has been moved to [RUN-264](https://linear.app/replay/issue/RUN-264/options-requests-never-seem-to-have-request-done-events)

[2022-06-09 19:26] gideonred commented on #825
This ticket has been moved to [RUN-290](https://linear.app/replay/issue/RUN-290/additional-response-bodies)

[2022-06-09 19:26] gideonred commented on #680
This ticket has been moved to [RUN-263](https://linear.app/replay/issue/RUN-263/acrobat-message-in-replay-browser-is-confusing)

[2022-06-09 19:26] gideonred commented on #676
This ticket has been moved to [RUN-262](https://linear.app/replay/issue/RUN-262/mach-bootstrap-failling-to-create-virtualenv-and-failing-to-find)

[2022-06-09 19:26] gideonred commented on #668
This ticket has been moved to [RUN-261](https://linear.app/replay/issue/RUN-261/support-web-components)

[2022-06-09 19:26] gideonred commented on #665
This ticket has been moved to [RUN-260](https://linear.app/replay/issue/RUN-260/some-playwright-recordings-contain-an-unusable-endpoint)

[2022-06-09 19:26] gideonred commented on #660
This ticket has been moved to [RUN-259](https://linear.app/replay/issue/RUN-259/the-result-of-evaluating-documentelementfrompointx-y-changes)

[2022-06-09 19:27] gideonred commented on #651
This ticket has been moved to [RUN-258](https://linear.app/replay/issue/RUN-258/add-a-windows-installer)

[2022-06-09 19:27] gideonred commented on #650
This ticket has been moved to [RUN-257](https://linear.app/replay/issue/RUN-257/invalidated-recording-shows-tab-crashed-screen-when-recording-all)

[2022-06-09 19:27] gideonred commented on #635
This ticket has been moved to [RUN-256](https://linear.app/replay/issue/RUN-256/improve-vscodedev-tti-tfp)

[2022-06-09 19:27] gideonred commented on #634
This ticket has been moved to [RUN-255](https://linear.app/replay/issue/RUN-255/repaint-graphics-are-broken-in-materialicon-replay)

[2022-06-09 19:27] gideonred commented on #631
This ticket has been moved to [RUN-254](https://linear.app/replay/issue/RUN-254/replay-showing-firefox-vpn-offer)

[2022-06-09 19:27] gideonred commented on #627
This ticket has been moved to [RUN-253](https://linear.app/replay/issue/RUN-253/hitting-backspace-browses-back-in-history)

[2022-06-09 19:27] gideonred commented on #585
This ticket has been moved to [RUN-250](https://linear.app/replay/issue/RUN-250/windows-theme-covers-up-title-bar-buttons)

[2022-06-09 19:27] gideonred commented on #559
This ticket has been moved to [RUN-242](https://linear.app/replay/issue/RUN-242/support-apple-silicon-for-gecko-dev)

[2022-06-09 19:27] gideonred commented on #556
This ticket has been moved to [RUN-241](https://linear.app/replay/issue/RUN-241/show-new-replay-tab-immediately)

[2022-06-09 19:27] gideonred commented on #58
This ticket has been moved to [RUN-181](https://linear.app/replay/issue/RUN-181/support-webgl)

[2022-06-09 19:27] gideonred commented on #55
This ticket has been moved to [RUN-179](https://linear.app/replay/issue/RUN-179/support-web-audio)

[2022-06-09 19:27] gideonred commented on #54
This ticket has been moved to [RUN-178](https://linear.app/replay/issue/RUN-178/support-media-elements)

[2022-06-10 16:39] #872 closed, assigned to nobody

[2022-06-10 16:39] #869 closed, assigned to nobody

[2022-06-10 16:39] #866 closed, assigned to nobody

[2022-06-10 16:39] #861 closed, assigned to nobody

[2022-06-10 16:39] #857 closed, assigned to ryanjduffy

[2022-06-10 16:39] #855 closed, assigned to kannanvijayan

[2022-06-10 16:39] #849 closed, assigned to loganfsmyth

[2022-06-10 16:39] #843 closed, assigned to nobody

[2022-06-10 16:39] #823 closed, assigned to jcmorrow

[2022-06-10 16:39] #824 closed, assigned to jcmorrow

[2022-06-10 16:39] #822 closed, assigned to jcmorrow

[2022-06-10 16:39] #821 closed, assigned to jcmorrow

[2022-06-10 16:39] #810 closed, assigned to nobody

[2022-06-10 16:39] #798 closed, assigned to nobody

[2022-06-10 16:39] #777 closed, assigned to jazzdan

[2022-06-10 16:39] #758 closed, assigned to nobody

[2022-06-10 16:39] #753 closed, assigned to nobody

[2022-06-10 16:40] #742 closed, assigned to hbenl

[2022-06-10 16:40] #738 closed, assigned to nobody

[2022-06-10 16:40] #725 closed, assigned to nobody

[2022-06-10 16:40] #717 closed, assigned to nobody

[2022-06-10 16:40] #700 closed, assigned to nobody

[2022-06-10 16:40] #559 closed, assigned to nobody

[2022-06-10 16:40] #556 closed, assigned to kannanvijayan

[2022-06-10 16:53] #699 closed, assigned to nobody

[2022-06-10 16:53] #698 closed, assigned to nobody

[2022-06-10 16:53] #696 closed, assigned to loganfsmyth

[2022-06-10 16:53] #695 closed, assigned to ryanjduffy

[2022-06-10 16:53] #694 closed, assigned to nobody

[2022-06-10 16:53] #693 closed, assigned to nobody

[2022-06-10 16:53] #692 closed, assigned to nobody

[2022-06-10 16:53] #690 closed, assigned to loganfsmyth

[2022-06-10 16:53] #825 closed, assigned to jcmorrow

[2022-06-10 16:53] #680 closed, assigned to nobody

[2022-06-10 16:53] #676 closed, assigned to nobody

[2022-06-10 16:53] #665 closed, assigned to nobody

[2022-06-10 16:53] #660 closed, assigned to nobody

[2022-06-10 16:53] #650 closed, assigned to nobody

[2022-06-10 16:53] #635 closed, assigned to nobody

[2022-06-10 16:53] #634 closed, assigned to nobody

[2022-06-10 16:53] #631 closed, assigned to nobody

[2022-06-10 16:53] #627 closed, assigned to nobody

[2022-06-10 16:53] #585 closed, assigned to ryanjduffy

[2022-06-10 18:23] gideonred commented on #60
This ticket has been moved to [RUN-22](https://linear.app/replay/issue/RUN-22/fill-in-aboutrights-text)

[2022-06-10 18:23] gideonred commented on #179
This ticket has been moved to [RUN-24](https://linear.app/replay/issue/RUN-24/improve-error-handling-when-recording-process-cant-connect-to)

[2022-06-10 18:23] gideonred commented on #246
This ticket has been moved to [RUN-26](https://linear.app/replay/issue/RUN-26/website-behaves-differently-while-being-recorded)

[2022-06-10 18:23] gideonred commented on #252
This ticket has been moved to [RUN-28](https://linear.app/replay/issue/RUN-28/upgrade-popup-copy-is-missing)

[2022-06-10 18:24] gideonred commented on #304
This ticket has been moved to [RUN-33](https://linear.app/replay/issue/RUN-33/cant-login-via-google-or-twitter-on-skittishcom-but-it-works-in-chrome)

[2022-06-10 18:24] gideonred commented on #308
This ticket has been moved to [RUN-34](https://linear.app/replay/issue/RUN-34/flowchartfun-crashes-while-recording)

[2022-06-10 18:25] gideonred commented on #331
This ticket has been moved to [RUN-35](https://linear.app/replay/issue/RUN-35/disable-firefox-accounts)

[2022-06-10 18:25] gideonred commented on #333
This ticket has been moved to [RUN-37](https://linear.app/replay/issue/RUN-37/cant-jump-to-console-logs-in-debugger-evaluated-code)

[2022-06-10 18:26] gideonred commented on #352
This ticket has been moved to [RUN-39](https://linear.app/replay/issue/RUN-39/initial-page-load-can-take-awhile)

[2022-06-10 18:26] gideonred commented on #355
This ticket has been moved to [RUN-40](https://linear.app/replay/issue/RUN-40/nytimes-upload-stalled)

[2022-06-10 18:26] gideonred commented on #379
This ticket has been moved to [RUN-41](https://linear.app/replay/issue/RUN-41/always-on-ux)

[2022-06-10 18:26] gideonred commented on #383
This ticket has been moved to [RUN-43](https://linear.app/replay/issue/RUN-43/cannot-start-recording)

[2022-06-10 18:27] gideonred commented on #394
This ticket has been moved to [RUN-44](https://linear.app/replay/issue/RUN-44/monitor-the-health-of-the-recording-tab)

[2022-06-10 18:27] gideonred commented on #396
This ticket has been moved to [RUN-46](https://linear.app/replay/issue/RUN-46/extract-replay-specific-logic-from-devtoolsstartup)

[2022-06-10 18:27] gideonred commented on #413
This ticket has been moved to [RUN-48](https://linear.app/replay/issue/RUN-48/improve-the-record-button-transition-states)

[2022-06-10 18:27] gideonred commented on #426
This ticket has been moved to [RUN-50](https://linear.app/replay/issue/RUN-50/hide-the-mozilla-vpn-page)

[2022-06-10 18:28] gideonred commented on #463
This ticket has been moved to [RUN-53](https://linear.app/replay/issue/RUN-53/issue-establishing-a-connection-with-the-replay-server)

[2022-06-10 18:28] gideonred commented on #473
This ticket has been moved to [RUN-55](https://linear.app/replay/issue/RUN-55/add-the-element-being-clicked-as-metadata-for-the-event-sidepanel)

[2022-06-10 18:28] gideonred commented on #474
This ticket has been moved to [RUN-56](https://linear.app/replay/issue/RUN-56/crash-not-shown-in-aboutcrashes)

[2022-06-10 18:28] gideonred commented on #479
This ticket has been moved to [RUN-57](https://linear.app/replay/issue/RUN-57/cofounderquest-doesnt-load-in-replay-browser-while-recording)

[2022-06-10 18:28] gideonred commented on #494
This ticket has been moved to [RUN-58](https://linear.app/replay/issue/RUN-58/select-dropdown-is-not-shown)

[2022-06-10 18:28] gideonred commented on #499
This ticket has been moved to [RUN-59](https://linear.app/replay/issue/RUN-59/support-sharedarraybuffer)

[2022-06-10 18:28] gideonred commented on #501
This ticket has been moved to [RUN-61](https://linear.app/replay/issue/RUN-61/support-wasm-streaming)

[2022-06-10 18:28] gideonred commented on #505
This ticket has been moved to [RUN-63](https://linear.app/replay/issue/RUN-63/replace-timeout-in-replayrecord-schema-handler)

[2022-06-10 18:28] gideonred commented on #507
This ticket has been moved to [RUN-64](https://linear.app/replay/issue/RUN-64/update-recording-button-look)

[2022-06-10 18:29] gideonred commented on #512
This ticket has been moved to [RUN-66](https://linear.app/replay/issue/RUN-66/replay-browser-crahsed)

[2022-06-10 18:29] gideonred commented on #513
This ticket has been moved to [RUN-67](https://linear.app/replay/issue/RUN-67/make-the-update-button-more-prominent)

[2022-06-10 18:29] gideonred commented on #514
This ticket has been moved to [RUN-68](https://linear.app/replay/issue/RUN-68/browser-reports-a-security-warning-with-appreplayio)

[2022-06-10 18:29] gideonred commented on #515
This ticket has been moved to [RUN-69](https://linear.app/replay/issue/RUN-69/support-replayrecord-protocol-urls-on-debian)

[2022-06-10 18:29] gideonred commented on #520
This ticket has been moved to [RUN-70](https://linear.app/replay/issue/RUN-70/smae-fails-to-replay)

[2022-06-10 18:29] gideonred commented on #530
This ticket has been moved to [RUN-71](https://linear.app/replay/issue/RUN-71/cannot-record-scratch)

[2022-06-10 18:29] gideonred commented on #531
This ticket has been moved to [RUN-72](https://linear.app/replay/issue/RUN-72/cant-replay-cocos-creator-game-preview)

[2022-06-10 18:29] gideonred commented on #535
This ticket has been moved to [RUN-76](https://linear.app/replay/issue/RUN-76/replay-recording-cant-load)

[2022-06-10 18:30] gideonred commented on #566
This ticket has been moved to [RUN-85](https://linear.app/replay/issue/RUN-85/logged-out-constantly)

[2022-06-10 18:30] gideonred commented on #533
This ticket has been moved to [RUN-74](https://linear.app/replay/issue/RUN-74/webassembly-is-not-defined)

[2022-06-10 18:30] gideonred commented on #536
This ticket has been moved to [RUN-77](https://linear.app/replay/issue/RUN-77/touch-simulation-causes-replay-to-miss-events)

[2022-06-10 18:30] gideonred commented on #539
This ticket has been moved to [RUN-78](https://linear.app/replay/issue/RUN-78/add-support-for-browser-emulations)

[2022-06-10 18:30] gideonred commented on #541
This ticket has been moved to [RUN-79](https://linear.app/replay/issue/RUN-79/windows-enable-use-of-directwrite)

[2022-06-10 18:31] gideonred commented on #568
This ticket has been moved to [RUN-86](https://linear.app/replay/issue/RUN-86/show-the-correct-cursor)

[2022-06-10 18:31] gideonred commented on #571
This ticket has been moved to [RUN-87](https://linear.app/replay/issue/RUN-87/run-in-aws-lambda)

[2022-06-10 18:32] gideonred commented on #573
This ticket has been moved to [RUN-88](https://linear.app/replay/issue/RUN-88/example-recordings-not-saved-in-e2e-tests)

[2022-06-10 18:32] gideonred commented on #582
This ticket has been moved to [RUN-89](https://linear.app/replay/issue/RUN-89/message-when-browser-is-using-api-key)

[2022-06-10 18:32] gideonred commented on #589
This ticket has been moved to [RUN-91](https://linear.app/replay/issue/RUN-91/add-windows-icon)

[2022-06-10 18:33] gideonred commented on #613
This ticket has been moved to [RUN-92](https://linear.app/replay/issue/RUN-92/browser-shows-vpn-advertisement-on-startup)

[2022-06-10 20:40] gideonred commented on #565
This ticket has been moved to [RUN-244](https://linear.app/replay/issue/RUN-244/support-replay-url-scheme-on-windows)

[2022-06-10 20:40] gideonred commented on #562
This ticket has been moved to [RUN-243](https://linear.app/replay/issue/RUN-243/windows-temp-directory-fills-up-with-recordreplay-dlls)

[2022-06-10 20:40] gideonred commented on #553
This ticket has been moved to [RUN-240](https://linear.app/replay/issue/RUN-240/alert-confirm-and-friends-dont-show-up-in-video)

[2022-06-10 20:40] gideonred commented on #534
This ticket has been moved to [RUN-235](https://linear.app/replay/issue/RUN-235/codesandbox-video-is-incomplete)

[2022-06-10 20:40] gideonred commented on #532
This ticket has been moved to [RUN-233](https://linear.app/replay/issue/RUN-233/network-resource-blocking-doesnt-work-when-recording)

[2022-06-10 20:40] gideonred commented on #508
This ticket has been moved to [RUN-225](https://linear.app/replay/issue/RUN-225/replays-with-canvas-drawing-are-very-large)

[2022-06-10 20:40] gideonred commented on #504
This ticket has been moved to [RUN-222](https://linear.app/replay/issue/RUN-222/react-devtools-shell-does-not-work-while-recording)

[2022-06-10 20:41] gideonred commented on #500
This ticket has been moved to [RUN-220](https://linear.app/replay/issue/RUN-220/support-plugins)

[2022-06-10 20:41] gideonred commented on #471
This ticket has been moved to [RUN-214](https://linear.app/replay/issue/RUN-214/hovering-the-record-button-spinner-shows-start-recording-tooltip)

[2022-06-10 20:41] gideonred commented on #448
This ticket has been moved to [RUN-212](https://linear.app/replay/issue/RUN-212/update-reconnecting-to-cloud-tooltip)

[2022-06-10 20:41] gideonred commented on #446
This ticket has been moved to [RUN-211](https://linear.app/replay/issue/RUN-211/consolidate-recordings-state-obj-with-recording-object)

[2022-06-10 20:41] gideonred commented on #423
This ticket has been moved to [RUN-209](https://linear.app/replay/issue/RUN-209/microphone-not-available)

[2022-06-10 20:41] gideonred commented on #411
This ticket has been moved to [RUN-207](https://linear.app/replay/issue/RUN-207/backspace-key-will-navigate-to-the-previous-page)

[2022-06-10 20:41] gideonred commented on #395
This ticket has been moved to [RUN-205](https://linear.app/replay/issue/RUN-205/linker-crash-divergence-assert-on-gitbook)

[2022-06-10 20:41] gideonred commented on #381
This ticket has been moved to [RUN-202](https://linear.app/replay/issue/RUN-202/include-recording-driver-in-distribution)

[2022-06-10 20:41] gideonred commented on #339
This ticket has been moved to [RUN-198](https://linear.app/replay/issue/RUN-198/[ux]-when-pressing-record-we-should-explain-the-page-reload)

[2022-06-10 20:41] gideonred commented on #332
This ticket has been moved to [RUN-196](https://linear.app/replay/issue/RUN-196/cannot-record-ahana-health)

[2022-06-10 20:41] gideonred commented on #291
This ticket has been moved to [RUN-192](https://linear.app/replay/issue/RUN-192/clean-up-recording-assertions)

[2022-06-10 20:41] gideonred commented on #287
This ticket has been moved to [RUN-191](https://linear.app/replay/issue/RUN-191/scopes-panel-shows-strange-characters-while-debugging)

[2022-06-10 20:41] gideonred commented on #283
This ticket has been moved to [RUN-190](https://linear.app/replay/issue/RUN-190/lots-of-rendering-issues-on-apples-ipad-page)

[2022-06-10 20:41] gideonred commented on #282
This ticket has been moved to [RUN-189](https://linear.app/replay/issue/RUN-189/responsive-design-mode-makes-recordings-unresponsive)

[2022-06-10 20:41] gideonred commented on #248
This ticket has been moved to [RUN-187](https://linear.app/replay/issue/RUN-187/twitter-embedded-videos-not-working-in-replay-browser)

[2022-06-10 20:41] gideonred commented on #240
This ticket has been moved to [RUN-185](https://linear.app/replay/issue/RUN-185/replay-does-not-install-for-security-reasons)

[2022-06-10 20:41] gideonred commented on #158
This ticket has been moved to [RUN-183](https://linear.app/replay/issue/RUN-183/remove-unsent-crash-reports-label)

[2022-06-10 20:41] gideonred commented on #56
This ticket has been moved to [RUN-180](https://linear.app/replay/issue/RUN-180/support-webrtc)

[2022-06-10 21:02] #512 closed, assigned to jazzdan

[2022-06-10 21:02] #513 closed, assigned to nobody

[2022-06-10 21:02] #514 closed, assigned to nobody

[2022-06-10 21:02] #515 closed, assigned to ryanjduffy

[2022-06-10 21:02] #520 closed, assigned to nobody

[2022-06-10 21:02] #530 closed, assigned to kannanvijayan

[2022-06-10 21:02] #531 closed, assigned to nobody

[2022-06-10 21:02] #532 closed, assigned to nobody

[2022-06-10 21:02] #533 closed, assigned to nobody

[2022-06-10 21:02] #534 closed, assigned to nobody

[2022-06-10 21:02] #535 closed, assigned to nobody

[2022-06-10 21:02] #536 closed, assigned to nobody

[2022-06-10 21:02] #539 closed, assigned to nobody

[2022-06-10 21:02] #541 closed, assigned to nobody

[2022-06-10 21:02] #553 closed, assigned to nobody

[2022-06-10 21:02] #562 closed, assigned to nobody

[2022-06-10 21:02] #565 closed, assigned to nobody

[2022-06-10 21:02] #566 closed, assigned to hbenl

[2022-06-10 21:03] #568 closed, assigned to nobody

[2022-06-10 21:03] #573 closed, assigned to nobody

[2022-06-10 21:03] #582 closed, assigned to nobody

[2022-06-10 21:03] #613 closed, assigned to nobody

[2022-06-10 21:03] #379 closed, assigned to nobody

[2022-06-10 21:03] #381 closed, assigned to nobody

[2022-06-10 21:03] #383 closed, assigned to nobody

[2022-06-10 21:03] #394 closed, assigned to kannanvijayan

[2022-06-10 21:03] #395 closed, assigned to nobody

[2022-06-10 21:03] #396 closed, assigned to nobody

[2022-06-10 21:03] #411 closed, assigned to nobody

[2022-06-10 21:03] #413 closed, assigned to ryanjduffy, jonbell-lot23

[2022-06-10 21:03] #426 closed, assigned to nobody

[2022-06-10 21:03] #446 closed, assigned to ryanjduffy

[2022-06-10 21:03] #448 closed, assigned to nobody

[2022-06-10 21:03] #463 closed, assigned to nobody

[2022-06-10 21:03] #471 closed, assigned to nobody

[2022-06-10 21:03] #473 closed, assigned to nobody

[2022-06-10 21:03] #474 closed, assigned to nobody

[2022-06-10 21:03] #479 closed, assigned to nobody

[2022-06-10 21:03] #494 closed, assigned to nobody

[2022-06-10 21:03] #504 closed, assigned to nobody

[2022-06-10 21:03] #505 closed, assigned to nobody

[2022-06-10 21:03] #507 closed, assigned to nobody

[2022-06-10 21:03] #508 closed, assigned to kannanvijayan

[2022-06-10 21:03] #60 closed, assigned to nobody

[2022-06-10 21:03] #158 closed, assigned to nobody

[2022-06-10 21:03] #179 closed, assigned to nobody

[2022-06-10 21:03] #240 closed, assigned to nobody

[2022-06-10 21:03] #246 closed, assigned to nobody

[2022-06-10 21:03] #248 closed, assigned to nobody

[2022-06-10 21:03] #252 closed, assigned to nobody

[2022-06-10 21:03] #282 closed, assigned to nobody

[2022-06-10 21:03] #283 closed, assigned to nobody

[2022-06-10 21:03] #287 closed, assigned to bhackett1024

[2022-06-10 21:03] #291 closed, assigned to nobody

[2022-06-10 21:03] #304 closed, assigned to nobody

[2022-06-10 21:03] #308 closed, assigned to nobody

[2022-06-10 21:03] #331 closed, assigned to nobody

[2022-06-10 21:03] #333 closed, assigned to nobody

[2022-06-10 21:03] #339 closed, assigned to ryanjduffy

[2022-06-10 21:03] #352 closed, assigned to nobody

[2022-06-10 21:03] #355 closed, assigned to nobody

[2022-06-21 17:13] markerikson commented on #746
Update: I did actually have the Replay browser open on my personal laptop a couple days ago and saw this, so I can confirm it's a real bug.

[2022-06-23 13:33] gideonred commented on #54
I've reopened this as it is external facing.

[2022-06-30 13:22] phishy commented on #55
Cool. So now it's private and nobody can see the status. That's fun.

[2022-06-30 14:02] gideonred commented on #55
This was closed by mistake. Re-opening.

[2022-06-30 14:59] #57 closed, assigned to nobody

[2022-06-30 15:01] ceceliacreates commented on #55
One potential workaround suggested is to expose an environment variable option to bypass or allow for custom handling of this error when recording. cc @gideonred

[2022-07-18 16:14] jasonLaster commented on #589
Re-opening because it is public facing

[2022-07-18 16:15] jasonLaster commented on #589
from @ongeuk https://github.com/replayio/devtools/issues/7405

Description:
Replay application is missing an icon on Windows. A generic icon is shown instead

Steps to Reproduce:
Open Replay on Windows and observe the taskbar

Expected Result:
For the Replay application to have its logo/icon shown
![image](https://user-images.githubusercontent.com/254562/179555904-f20966d3-bd89-4f6b-a225-81ac3192a

[2022-08-15 14:52] gideonred commented on #571
Reopening as this has public interest.

[2022-10-17 08:55] #439 closed, assigned to nobody

[2022-10-20 17:42] sedghi commented on #58
Do I need to create a Linear account to follow this issue?

[2022-10-20 19:20] jasonLaster commented on #58
Hi @sedghi, nope we'll post updates to this issue.